<script setup>
	import Table from '@comps/Table.vue'

	const table = {
		loading: false,
		type: 'index',
		checkSelec: 'selection',
		size: 'large',
		height: '100%',
		showIndex: true,
		showCheck: true,
		showDo: true,
		highlightCurrentRow: true
	}
	const tableColumn = [
		{ isShow: true, prop: 'name', label: '姓名' },
		{ isShow: true, prop: 'date', label: '日期', showOverflowTooltip: true, sortable: true },
		{ isShow: true, prop: 'status', label: '状态' }
	]

	const tableData = [
		{
			id: 1,
			name: '张三',
			date: '2021-02-12',
			status: '未读',
			type: 1
		},
		{
			id: 2,
			name: '李四',
			date: '2021-02-14',
			status: '未读'
		},
		{
			id: 3,
			name: 'Tom',
			date: '2021-02-15',
			status: '未读'
		}
	]
	//子组件中传递的数据 修改每页条数
	const pageSizeChange = (e) => {
		console.log('修改条数：', e)
	}
	//修改页数
	const pageCurrentChange = (e) => {
		console.log('修改页数：', e)
	}
	//停用
	const tableStop = (e) => {
		console.log('停用：', e)
	}
	//菜单权限
	const tableJurisdiction = (e) => {
		console.log('菜单权限', e)
	}
	//编辑·
	const tableEdit = (e) => {
		console.log('编辑：', e)
	}
	//删除
	const tableDelete = (e) => {
		console.log('删除：', e)
	}
	//查看
	const tableView = (e) => {
		console.log('查看：', e)
	}
	//导出
	const expetData = (type, e) => {
		console.log('导出', type, e)
	}
	//拒绝
	const tableRefuse = (e) => {
		console.log('拒绝', e)
	}
	//通过
	const tablePass = (e) => {
		console.log('通过', e)
	}
</script>

<template>
	<div class="section">
		<Table
			:table="table"
			:tableColumn="tableColumn"
			:tableData="tableData"
			:expetParams="true"
			:systemParams="true"
			@pageSizeChange="pageSizeChange"
			@pageCurrentChange="pageCurrentChange"
			@tableStop="tableStop"
			@tableJurisdiction="tableJurisdiction"
			@tableEdit="tableEdit"
			@tableDelete="tableDelete"
			@tableView="tableView"
			@expetData="expetData"
			@tableRefuse="tableRefuse"
			@tablePass="tablePass"
		/>
	</div>
</template>

<style lang="scss" scoped>
	.section {
		width: 100%;
		height: 100%;
		// background: $bg-main-content;
	}
</style>
