<script setup>
	import Table from '@comps/Table.vue'
	import { reactive, onMounted } from 'vue'
	import { useStore } from 'vuex'
	import Drawer from '@comps/Drawer.vue'
	import utils from '@/utils'

	const store = useStore()
	const state = reactive({
		showText: '',
		removal: null, //
		time: null //时间
	})
	const tableData = [
		{
			id: 1,
			name: '张三',
			date: '2021-02-12',
			status: '未读',
			type: 1
		},
		{
			id: 2,
			name: '李四',
			date: '2021-02-14',
			status: '未读'
		},
		{
			id: 3,
			name: 'Tom',
			date: '2021-02-15',
			status: '未读'
		}
	]
	const table = {
		loading: false,
		type: 'index',
		checkSelec: 'selection',
		size: 'large',
		height: '100%',
		showIndex: true,
		showCheck: true,
		showDo: true,
		highlightCurrentRow: true
	}
	const tableColumn = [
		{ isShow: true, prop: 'name', label: '姓名' },
		{ isShow: true, prop: 'date', label: '日期', showOverflowTooltip: true, sortable: true },
		{ isShow: true, prop: 'status', label: '状态' }
	]
	const menus = () => {
		store.state.style.menusSytle
		if (store.state.style.menusSytle) {
			if (store.state.style.menusSytle.flag) {
				const data = {
					muensStyle: {
						main_aside: '0px',
						aside_box: '0px',
						main_content: '1840px',
						flag: false
					}
				}
				state.showText = '展开'
				store.dispatch('style/setMenusInfo', data)
			} else {
				const data = {
					muensStyle: {
						main_aside: '260px',
						aside_box: '240px',
						main_content: '1580px',
						flag: true
					}
				}
				state.showText = '折叠'
				store.dispatch('style/setMenusInfo', data)
			}
		}
	}
	//子组件中传递的数据 修改每页条数
	const pageSizeChange = (e) => {
		console.log('修改条数：', e)
	}
	//修改页数
	const pageCurrentChange = (e) => {
		console.log('修改页数：', e)
	}
	//停用
	const tableStop = (e) => {
		console.log('停用：', e)
	}
	//菜单权限
	const tableJurisdiction = (e) => {
		console.log('菜单权限', e)
	}
	//编辑·
	const tableEdit = (e) => {
		console.log('编辑：', e)
	}
	//删除
	const tableDelete = (e) => {
		console.log('删除：', e)
	}
	//查看
	const tableView = (e) => {
		console.log('查看：', e)
	}
	//导出
	const expetData = (type, e) => {
		console.log('导出', type, e)
	}
	//tool参数
	const tool = reactive({
		number: null, //手机号/IMSI/IMEI
		operator: null, //运营商
		region: null, //区域
		PT: null, //点位
		time: null //时间
	})
	//运营商
	const operatorOptions = []
	//区域
	const regionOptions = []
	//点位
	const PTOptions = []

	//查询服务
	const search = () => {
		utils.message('success', '查询成功！', 3000)
	}
	//重置
	const reset = () => {}

	onMounted(() => {
		// menus()
	})
</script>

<template>
	<div class="section-test2">
		<div class="tool">
			<div class="column1" @click="menus">
				<div class="fold" v-show="store.state.style.menusSytle.flag">
					<el-icon :size="30" color="#21a9ca"><fold /></el-icon>
				</div>
				<div class="open" v-show="!store.state.style.menusSytle.flag">
					<el-icon :size="30" color="#21a9ca"><expand /></el-icon>
				</div>
			</div>
			<div class="column2">
				<div class="removal">
					<el-checkbox v-model="state.removal" label="去重" size="large" />
				</div>
			</div>
			<div class="column3">
				<div class="column3-box">
					<div class="tl params1">
						<el-input v-model="tool.number" placeholder="请输入手机号/IMSI/IMEI" />
					</div>
					<div class="tl params2">
						<el-select v-model="tool.operator" placeholder="运营商">
							<el-option v-for="item in operatorOptions" :key="item.value" :label="item.label" :value="item.value" />
						</el-select>
					</div>
					<div class="tl params3">
						<el-select v-model="tool.region" placeholder="一级区域">
							<el-option v-for="item in regionOptions" :key="item.value" :label="item.label" :value="item.value" />
						</el-select>
					</div>
					<div class="tl params4">
						<el-select v-model="tool.PT" placeholder="点位">
							<el-option v-for="item in PTOptions" :key="item.value" :label="item.label" :value="item.value" />
						</el-select>
					</div>
					<div class="tl params6">
						<!-- 	format="YYYY/M/D hh:mm:ss" -->
						<el-date-picker
							class="time"
							v-model="tool.time"
							type="datetimerange"
							format="YYYY/M/D"
							prefix-icon="Calendar"
							range-separator="-"
							start-placeholder="开始时间"
							end-placeholder="结束时间"
						/>
					</div>
					<div class="tl params7">
						<el-button class="bt search" @click="search">查询</el-button>
					</div>
					<div class="tl params8">
						<el-button class="bt reset" @click="reset">重置</el-button>
					</div>
				</div>
			</div>
		</div>
		<div class="test2-table">
			<Table
				:table="table"
				:tableColumn="tableColumn"
				:tableData="tableData"
				:expetParams="true"
				:systemParams="true"
				@pageSizeChange="pageSizeChange"
				@pageCurrentChange="pageCurrentChange"
				@tableStop="tableStop"
				@tableJurisdiction="tableJurisdiction"
				@tableEdit="tableEdit"
				@tableDelete="tableDelete"
				@tableView="tableView"
				@expetData="expetData"
			/>
		</div>
		<div class="dr">
			<Drawer />
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-test2 {
		width: 100%;
		height: 100%;
		position: relative;
		@include flex-layout(column, space-between, center);

		.tool {
			width: 100%;
			height: 50px;
			@include flex-layout(row, space-between, center);
			.column1 {
				width: 50px;
				height: 50px;
				background: #021e70;
				.fold,
				.open {
					width: 100%;
					height: 100%;
					@include flex-layout(row, center, center);
					cursor: pointer;
				}
			}
			.column2 {
				width: 92px;
				height: 50px;
				background: #021e70;
				@include flex-layout(row, center, center);
			}
			.column3 {
				width: calc(100% - 50px - 20px - 92px - 20px);
				height: 50px;
				background: #021e70;
				@include flex-layout(row, center, center);
				.column3-box {
					width: calc(100% - 40px);
					height: calc(100% - 20px);
					@include flex-layout(row, flex-start, center);
					.tl {
						margin-right: 10px;
					}
					.params1 {
						width: 200px;
						height: 30px;
					}
					.params2,
					.params3,
					.params4,
					.params5 {
						width: 160px;
						height: 30px;
					}
					.params6 {
						// width: 240px;
						height: 30px;
						:deep(.time) {
							width: 280px;
							padding: 0;
							border-radius: 0;
							.el-input__inner {
								height: 30px !important;
							}
						}
					}
					.params7,
					.params8 {
						width: 60px;
						height: 30px;
						:deep(.el-button) {
							width: 100%;
							height: 100%;
							border-radius: 0;
						}
						.bt {
							width: 60px;
							height: 30px;
						}
						.search {
							background: #2d7dfa;
						}
					}
				}
			}
		}
		.test2-table {
			width: 100%;
			height: calc(100% - 50px - 20px);
		}
		.dr {
			width: 900px;
			height: 540px;
			position: absolute;
			left: 0;
			top: calc((100% - 540px) / 2);
		}
	}
</style>
