<script setup>
	import { onMounted, reactive, ref } from 'vue'
	import EchartsMap from '@/components/EchartsMap.vue'
	import geoJson from '~/public/Echarts_Map/ShanWei2.json'

	const mapData = {
		name: '汕尾市',
		geoJson: geoJson
	}
	const sData = {
		shebeiNum: {
			name: '部署设备',
			data: [
				{ name: '城区', value: 56 },
				{ name: '陆河县', value: 26 },
				{ name: '陆丰市', value: 117 },
				{ name: '海丰县', value: 84 }
			]
		},
		todayYu: {
			name: '今日预警次数',
			data: [
				{ name: '城区', value: 134 },
				{ name: '陆河县', value: 85 },
				{ name: '陆丰市', value: 347 },
				{ name: '海丰县', value: 214 }
			]
		},
		weekYu: {
			name: '近七天预警次数',
			data: [
				{ name: '城区', value: 741 },
				{ name: '陆河县', value: 584 },
				{ name: '陆丰市', value: 1145 },
				{ name: '海丰县', value: 839 }
			]
		},
		position: {
			name: '位置',
			data: [
				{ name: '城区', value: 120 },
				{ name: '陆河县', value: 50 },
				{ name: '陆丰市', value: 241 },
				{ name: '海丰县', value: 314 }
			]
		}
	}

	const options = {
		// 提示框组件
		tooltip: {
			trigger: 'item',
			backgroundColor: 'rgba(0,0,0,0.5)',
			textStyle: {
				color: '#b0c2f0'
			}
		},
		// dataRange: {
		// 	show: false,
		// 	min: 10,
		// 	max: 300,
		// 	realtime: false,
		// 	calculable: false,
		// 	color: ['rgba(136,220,149,1)', 'rgba(198,83,117,1)', '#f97a06', 'rgba(215,206,137,1)', '#8C3C99', 'rgba(88,183,225,1)']
		// },
		// 地理坐标系组件
		geo: {
			map: '汕尾市',
			show: true,
			zoom: 1.2,
			scaleLimit: {
				//缩放级别限制
				min: 1
				// max: 12
			},
			aspectScale: 1.1, //地图的长宽比
			itemStyle: {
				borderWidth: 2,
				borderColor: '#0090fe', //边框颜色
				areaColor: '#003399', //地图区域颜色
				shadowColor: '#182f68',
				shadowOffsetX: 0,
				shadowOffsetY: 15
			},
			label: {
				color: '#b0c2f0',
				normal: {
					show: true, // 是否显示对应地名
					textStyle: {
						color: 'rgba(217,220,231,0.4)'
					}
				}
			},
			emphasis: {
				itemStyle: {
					show: 'true',
					borderWidth: 1,
					borderColor: 'rgba(6,247,249,1)', //边框颜色
					areaColor: 'rgba(6,247,249,0.3)' //鼠标移上去的颜色
				},
				label: {
					color: '#fff',
					fontWeight: 'bold',
					show: true
				}
			}
		}
	}

	onMounted(() => {})
</script>

<template>
	<div class="section">
		<div class="p1">
			<EchartsMap :mapData="mapData" :options="options" />
			<div class="text-box">
				<div class="num">部署设备：{{ '239' }}</div>
				<div class="cent">今日预警次数：{{ '2210' }}</div>
				<div class="week-cent">近七天预警次数：{{ '14850' }}</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section {
		width: 100%;
		height: 100%;
		background: var(--el-background-color-base);
		@include flex-layout(row, flex-start, flex-start);
		.p1 {
			width: 560px;
			height: vh(300);
			@include flex-layout(row, center, center);
			width: 640px;
			height: 606px;
			background: #021e70;
			position: relative;
			.text-box {
				width: 200px;
				height: 100px;
				position: absolute;
				left: 20px;
				bottom: 20px;
				@include flex-layout(column, space-around, flex-start);
				color: var(--el-text-color-primary);
				font-size: 14px;
			}
		}
	}
</style>
