// 公共样式文件

@use 'sass:math';

//默认设计稿的宽度
$designWidth: 1920;
//默认设计稿的高度
$designHeight: 1080;

//px转为vw的函数
@function vw($px) {
	@return math.div($px, $designWidth) * 100vw;
}
//px转为vh的函数
@function vh($px) {
	@return math.div($px, $designHeight) * 100vh;
}
//flex 布局
@mixin flex-layout($flex-direction: row, $justify-content: flex-start, $align-items: flex-start, $flex: flex, $flex-wrap: nowrap) {
	display: $flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-wrap: $flex-wrap;
}

//text 设置参数
@mixin set-text($color: #cfe2ff, $font-size: 14, $font-weight: 600, $line-height: 20, $ff: SourceHanSansCN) {
	color: $color;
	font-size: vh($font-size);
	font-family: $ff, SourceHanSansCN-Regular;
	font-weight: $font-weight;
	line-height: vh($line-height);
}
