// 重置浏览器默认样式文件

html,
body,
#app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body,
header,
main,
aside {
	font-family: SourceHanSansCN, SourceHanSansCN-Medium, Helvetica;
	// overflow: hidden;
	margin: 0;
	padding: 0;
}
//将nProgress的颜色改成element主色调
#nprogress {
	& .bar {
		background-color: var(--el-color-primary);
	}
	& .peg {
		box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary) !important;
	}
	& .spinner-icon {
		border-top-color: var(--el-color-primary);
		border-left-color: var(--el-color-primary);
	}
}
