/******  这里可以设置你自定义的颜色变量  *****/
:root {
	color-scheme: light;
	--el-color-white: #012693;
	--el-color-black: #000000;
	--el-color-primary-dark: #0d84ff;
	--el-fill-color: rgba(27, 48, 123, 0.8);
	--el-fill-color-light: #021e70;
	--el-fill-color-blank: linear-gradient(180deg, #021e70, rgba(2, 30, 112, 0.5) 47%, #021e70);
	// --el-font-size-base: vh(14);
	--el-text-color-placeholder: #3953ab;
	--el-text-color: #b0c2f0;
	--el-title-text-color: #e4ecff;
	--el-text-color-primary: #b0c2f0;
	--el-text-color-regular: #b0c2f0;
	--el-border-color: #4662b7;
	--el-border-color-hover: #21a9ca;
	--el-border-color-light: 1px solid #1a70d0;
	--el-border-radius-base: 1px;
	--el-disabled-bg-color: transporter;
	--el-bg-color-overlay: #012693;
}

.el-table {
	--el-table-header-bg-color: rgba(27, 59, 150, 0.9); //table 表头bg
	--el-table-header-text-color: #617cff; //table 表头字体颜色
	--el-table-text-color: #b0c2f0; //table 正文字体颜色
	--el-table-row-hover-bg-color: rgba(27, 59, 150, 0.9); //table 行 hover颜色
	--el-table-current-row-bg-color: rgba(27, 59, 150, 0.7);
	--el-table-tr-bg-color: rgba(35, 57, 124, 0.4);
	--el-table-border-color: transporter; // #2c5cad
}

.el-button {
	--el-button-font-weight: var(--el-font-weight-primary);
	--el-button-border-color: #2d7dfa;
	--el-button-bg-color: var(--el-fill-color-blank);
	--el-button-text-color: #61aff6;
	--el-button-disabled-text-color: var(--el-disabled-text-color);
	--el-button-disabled-bg-color: var(--el-fill-color-blank);
	--el-button-disabled-border-color: var(--el-border-color-light);
	--el-button-divide-border-color: #2d7dfa;
	--el-button-hover-text-color: rgba(228, 236, 255, 1);
	--el-button-hover-bg-color: transporter;
	--el-button-hover-border-color: #2d7dfa;
	--el-button-active-text-color: var(--el-button-hover-text-color);
	--el-button-active-border-color: var(--el-color-primary);
	--el-button-active-bg-color: var(--el-button-hover-bg-color);
}
.el-pagination {
	--el-pagination-font-size: 14px;
	--el-pagination-bg-color: transporter;
	--el-pagination-text-color: var(--el-text-color-primary);
	--el-pagination-border-radius: 0;
	--el-pagination-button-color: var(--el-text-color-primary);
	--el-pagination-button-disabled-color: var(--el-text-color-placeholder);
	--el-pagination-button-disabled-bg-color: var(--el-fill-color-blank);
	--el-pagination-button-bg-color: transporter;
	--el-pagination-hover-color: var(--el-color-primary);
	--el-pagination-height-extra-small: 24px;
	--el-pagination-line-height-extra-small: var(--el-pagination-height-extra-small);
}

.el-input {
	--el-input-border-radius: 0;
	--el-input-hover-border-color: #21a9ca;
	--el-input-placeholder-color: rgba(134, 158, 217, 0.7);
	--el-input-icon-color: #21a9ca;
}

.el-checkbox {
	--el-checkbox-input-border: 1px solid #1a70d0;
}
.el-date-range-picker {
	--el-datepicker-icon-color: #b0c2f0;
	--el-datepicker-inrange-hover-bg-color: rgba(92, 136, 212, 0.7);
	--el-datepicker-inrange-bg-color: rgba(92, 136, 212, 0.7);
}
.el-tag.el-tag--info {
	--el-tag-text-color: #21a9ca;
}
.el-dialog {
	--el-dialog-width: 35%;
	--el-dialog-margin-top: 20vh;
	--el-dialog-bg-color: rgba(25, 90, 234, 1);
}
.el-menu {
	--el-menu-bg-color: rgba(2, 30, 112, 0.6);
	--el-menu-text-color: #7791cf;
	--el-menu-hover-text-color: #e4ecff;
	--el-menu-hover-bg-color: #4d8cf8;
	--el-menu-active-color: #ffd04b;
	--el-menu-border-color: none;
}
.el-message {
	--el-message-min-width: vw(320);
	--el-message-bg-color: rgba(2, 11, 50, 0.8);
	--el-message-border-color: #020b32;
	--el-message-padding: 20px 15px 20px 20px;
}
.el-message--success {
	--el-message-text-color: #0fcdef;
}
.el-scrollbar {
	--el-scrollbar-bg-color: #4d8cf8;
	--el-scrollbar-opacity: 0.3;
	--el-scrollbar-hover-opacity: 0.5;
	--el-scrollbar-hover-bg-color: #0fcdef;
}
.el-popper {
	--el-popper-border-radius: 0;
	--el-popover-background-color: #091e63;
	--el-popover-font-size: var(--el-font-size-base);
	--el-popover-border-color: #195aea;
	--el-popover-padding: 0.32rem;
	--el-popover-padding-large: 0.48rem 0.53333rem;
	--el-popover-title-font-size: 0.42667rem;
	--el-popover-title-font-color: var(--el-text-color-primary);
}
.el-tree {
	--el-tree-node-hover-bg-color: var(--el-fill-color-light);
	--el-tree-text-color: var(--el-text-color-regular);
	--el-tree-expand-icon-color: #4d8cf8;
}
.el-tag {
	--el-tag-bg-color: var(--el-color-primary-light-9);
	--el-tag-border-color: var(--el-color-primary-light-8);
	--el-tag-text-color: var(--el-color-primary);
	--el-tag-hover-color: var(--el-color-primary);
}
.el-picker__popper {
	--el-datepicker-border-color: #195aea;
}
.el-date-range-picker {
	--el-datepicker-text-color: var(--el-text-color-regular);
}
.el-date-editor {
	--el-date-picker-icon: #4bc0e7;
}
.el-collapse {
	--el-collapse-border-color: #2c5cad;
	--el-collapse-header-bg-color: rgba(2, 30, 112, 0.5);
	--el-collapse-content-bg-color: rgba(2, 30, 112, 0.5);
}
.el-icon {
	--color: #0c98c6;
}
.el-radio {
	--el-radio-text-color: #e4ecff;
	--el-radio-input-border-color-hover: #0fcdef;
	--el-radio-checked-border-color: #0fcdef;
	--el-radio-checked-bg-color: #0fcdef;
}
.el-form {
	--el-form-item-label-text-color: #52a4e2;
}
