// 样式变量文件
// $bg-header: var(--el-color-primary);

//app
$app-bg: url('@assets/images/main/app-bg.png');

//header
$header-bg: linear-gradient(90deg, #071138 4%, #0e1b52 25%, #102161 50%, #0f255f 70%, #0c1f51 80%, #0a2554 86%, #072b57 98%);
$header-title-bg-color1: linear-gradient(230deg, rgba(59, 147, 233, 0) 2%, #0a4ac6 17%, #119fff 41%, #0fd7ae 62%, #2223b2 83%, rgba(59, 147, 233, 0) 99%);
$header-title-bg-color2: rgba(0, 12, 60, 0.8);
$header-title-text-color: linear-gradient(270deg, #252fd1, #09d5f0 100%, #252fd1 100%);
$header-top-text-color: #c3d5ff;
$header-bottom-right-button-bg-color: linear-gradient(180deg, #40e8fc, #175cea);
$header-bottom-right-button-text-color: #cbe1ff;
$header-bottom-back-icon-bg-color: linear-gradient(90deg, #15c5ee, #3798e9);
$header-bottom-back-icon-color: #0d2258;
$header-bottom-back-text-color: linear-gradient(270deg, #4d8cf8, #21a9ca 100%, #4d8cf8 100%);
$header-bottom-left-icon-color: rgba(9, 213, 240, 1);
$header-bottom-left-icon-bg-color: #0a4ac6;
$header-bottom-left-text-color: linear-gradient(270deg, #195aea, #09d5f0 100%, #195aea 100%);

//main
$bg-main: linear-gradient(270deg, rgb(6, 15, 43), #08194c 51%, #060f2b);
$bg-main-content: linear-gradient(180deg, #021e70, rgba(2, 30, 112, 0.5) 47%, #021e70);
$main-bg-color: rgba(6, 15, 43, 0.4);

//menu
$menu-bg: rgba(27, 59, 150, 0.7);
$menu-icon-color: #0fcdef;
$menu-switch-bt-bg-color: #195aea;
$menu-switch-bt-icon-color: rgba(228, 236, 255, 1);

//home
$home-box-border-color: #05488f;
$home-box-shadow-color: #0a4ac6;
$home-icon-color: #cbe1ff;
$home-text-color: #cbe1ff;
$home-box-active-shadow-color: #09d5f0;
$home-active-icon-color: #0dcfda;
$home-active-text-color: #0dcfda;
$home-hot-bg-color: #cbe1ff;
$home-hot-active-bg-color: #0dcfda;
$home-click-border-color: linear-gradient(180deg, #00caff, #007eff) 3 3;
$home-click-bg-color: linear-gradient(0deg, #0078ff, #00ccff);
$home-click-text-color: #0dcfda;
$home-click-box-bg-color: #071747;
$home-click-box-shadow-color: #3f6bde;

//table
$table-row-border-color: #2c5cad;
$table-bt-text-color: #0fcdef;
$table-bt-text-color1: #4d8cf8;
$table-bt-text-color2: #d9364a;

//pagination
$pagination-border: 1px solid #4662b7;
$pagination-border-radius: 0;
$pagination-border-hover: 1px solid #21a9ca;
$pagination-active-color: #21a9ca;
$pagination-bg-color: rgba(27, 59, 150, 0.7);

//drawer
$drawer-bg-color: rgba(27, 48, 123, 0.86);
$drawer-bt-bg-color: #195aea;

//button

//other
$bt-expet-bg-color: #4662b7;
