<script setup>
	import ChangeTheme from '@views/common/ChangeTheme.vue'
	import HeaderLeft from '@views/common/HeaderLeft.vue'
	import HeaderRight from '@views/common/HeaderRight.vue'
	import { onMounted, reactive, watch, onBeforeUnmount } from 'vue'
	import { useRouter } from 'vue-router'
	import { useStore } from 'vuex'
	import moment from 'moment'
	import utils from '@utils'
	const router = useRouter()
	const store = useStore()

	const state = reactive({
		goShow: false, //显示隐藏用户信息标志
		time: null,
		week: null, //星期
		full: true, //开启、退出全屏标志
		userName: '游客' //用户名
	})
	//退出
	const logout = () => {
		utils.localRemove('token')
		utils.localRemove('userid')
		utils.localRemove('username')
		store
			.dispatch('user/removeUserInfo')
			.then(() => {
				store.dispatch('style/removeMenusInfo')
				router.push('/login')
			})
			.catch((res) => {
				console.log('退出监测2', res)
			})
	}

	moment.locale('zh-cn', {
		weekdays: '星期日_星期一_星期二_星期三_星期四_星期五_星期六'.split('_')
	})
	//日期定时器
	const interval = setInterval(() => {
		state.time = moment().format('YYYY-DD-MM HH:mm:ss')
		state.week = moment().format('dddd')
	}, 1000)

	//开启/退出全屏
	const setScreen = (flag) => {
		state.full = !state.full
		console.log(state.full)
		if (state.full) {
			utils.exitFull()
		} else {
			utils.fullscreen()
		}
	}

	watch(
		() => store.state.user.token,
		(newValue, oldValue) => {
			if (newValue) {
				state.goShow = true
				state.userName = utils.localGet('username')
			} else {
				state.goShow = false
				state.userName = '游客'
			}
		}
	)
	onMounted(() => {
		if (store.state.user.token) {
			state.goShow = true
			state.userName = utils.localGet('username')
		}
	})
	onBeforeUnmount(() => {
		clearInterval(interval)
	})
</script>

<template>
	<div class="section-header">
		<div class="st-header">
			<div class="header-box">
				<div class="box1">
					<div class="title-box">
						<div class="text">
							{{ '神探电子系统' }}
						</div>
						<div class="e-text">
							{{ 'Detective' }}
						</div>
					</div>
				</div>
			</div>
			<div class="header-flat" v-show="state.goShow">
				<div class="flat-top">
					<div class="left">
						<div class="full-screen">
							<div class="fullbt">
								<span v-show="state.full" @click="setScreen">开启全屏</span>
								<span v-show="!state.full" @click="setScreen">退出全屏</span>
							</div>
						</div>
						<div class="verstion">V1.0版本</div>
					</div>
					<div class="right">
						<div class="w-user">
							<span>欢迎你</span>
							<span>{{ '，' + state.userName }}</span>
						</div>
						<div class="times">
							<span class="time">{{ state.time }}</span>
							<span class="week">{{ state.week }}</span>
						</div>
						<div class="sign-out">
							<span @click="logout">退出</span>
						</div>
					</div>
				</div>
				<div class="flat-bottom">
					<div class="left">
						<HeaderLeft />
					</div>
					<div class="right">
						<HeaderRight />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-header {
		width: vw(1920);
		height: vh(140);
		background: $header-bg;
		.st-header {
			width: vw(1920);
			height: vh(140);
			position: relative;
			.header-box {
				width: vw(1920);
				height: vh(115);
				opacity: 0.6;
				background: $header-title-bg-color1;
				-webkit-clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%, 70% 50%, 68% 75%, 62% 75%, 60% 100%, 40% 100%, 38% 75%, 32% 75%, 30% 50%);
				clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%, 70% 50%, 68% 75%, 62% 75%, 60% 100%, 40% 100%, 38% 75%, 32% 75%, 30% 50%);
				.box1 {
					width: vw(1920);
					height: vh(112);
					-webkit-clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%, 70% 50%, 68% 75%, 62% 75%, 60% 100%, 40% 100%, 38% 75%, 32% 75%, 30% 50%);
					clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%, 70% 50%, 68% 75%, 62% 75%, 60% 100%, 40% 100%, 38% 75%, 32% 75%, 30% 50%);
					background: $header-title-bg-color2;
					.title-box {
						width: 100%;
						height: 100%;
						@include flex-layout(column, space-between, center);
						@include set-text($header-top-text-color, 36, 700);
						background: $header-title-text-color;
						text-shadow: 0px 4px 0px 0px #0a07a6;
						font-family: 'DigitalDreamFat';
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						// -webkit-animation: hue 60s infinite linear;
						.text {
							width: 100%;
							height: 50%;
							@include flex-layout(row, center, flex-end);
						}
						.e-text {
							width: 100%;
							height: 40%;
							@include flex-layout(row, center, center);
							font-size: vh(18);
						}
					}
					@-webkit-keyframes hue {
						from {
							-webkit-filter: hue-rotate(0deg);
						}
						to {
							-webkit-filter: hue-rotate(-360deg);
						}
					}
				}
			}
			.header-flat {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				@include flex-layout(column, space-between, center);
				.flat-top,
				.flat-bottom {
					width: vw(1840);
					@include flex-layout(row, space-between, center);
					.left,
					.right {
						width: 50%;
						height: 100%;
						@include set-text($header-top-text-color, 14, 400);
					}
					.left {
						@include flex-layout(row, flex-start, center);
						.full-screen {
							width: vw(88);
							min-width: 60px;
							height: 100%;
							@include flex-layout(row, flex-start, center);
							span {
								cursor: pointer;
							}
						}
						.verstion {
							min-width: 50px;
						}
					}
					.right {
						@include flex-layout(row, flex-end, center);
						.w-user {
							width: vw(200);
							min-width: 90px;
							height: 100%;
							@include flex-layout(row, flex-end, center);
						}
						.times {
							width: vw(240);
							min-width: 165px;
							height: 100%;
							@include flex-layout(row, flex-end, center);

							.time {
								width: vw(190);
								font-family: 'DigitalDreamFat';
								font-size: vh(8);
							}
						}

						.sign-out {
							width: vw(38);
							min-width: 25px;
							height: 100%;
							@include flex-layout(row, flex-end, center);
							span {
								cursor: pointer;
							}
						}
					}
				}
				.flat-top {
					height: vh(60);
				}
				.flat-bottom {
					height: vh(80);
				}
			}
		}
	}
</style>
