<script setup>
	import { onMounted, reactive, watch } from 'vue'
	import { useStore } from 'vuex'
	import route from '@/router'
	const store = useStore()

	const state = reactive({
		systemName: null //
	})

	route.beforeEach((to, from, next) => {
		if (to.path == '/home') {
			state.systemName = '首页'
		} else {
			selectSystem(store.state.user.system)
		}
		next()
	})

	const selectSystem = (id) => {
		switch (id) {
			case 1:
				state.systemName = '运维管理平台'
				break
			case 2:
				state.systemName = '融合分析平台'
				break
			case 3:
				state.systemName = '布控中心平台'
				break
			case 4:
				state.systemName = '人员管理平台'
				break
			case 5:
				state.systemName = '案件管理平台'
				break
			case 6:
				state.systemName = '审批管理平台'
				break
			default:
				state.systemName = '首页'
				break
		}
	}

	watch(
		() => store.state.user.system,
		(newValue, oldValue) => {
			selectSystem(newValue)
		}
	)

	onMounted(() => {
		selectSystem(store.state.user.system)
	})
</script>

<template>
	<div class="section-header-left">
		<div class="back">
			<div class="box">
				<div class="icon">
					<el-icon><ArrowLeft /></el-icon>
				</div>
				<div class="text">{{ state.systemName }}</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-header-left {
		width: 100%;
		height: 100%;
		@include flex-layout(row, flex-start, center);
		.back {
			width: vw(220);
			height: vh(38);
			@include flex-layout(row, flex-start, center);
			@include set-text($header-bottom-left-icon-color, 16, 500, 20, 'SourceHanSansCN');
			.box {
				@include flex-layout(row, flex-start, center);
			}
			.icon {
				width: vw(16);
				height: vh(15);
				@include flex-layout(row, flex-start, center);
				margin-right: vw(8);
				-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
				clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
				background: $header-bottom-left-icon-bg-color;
				color: $header-bottom-left-icon-color;
			}
			.text {
				background: $header-bottom-left-text-color;
				text-shadow: 0px 4px 0px 0px #0a07a6;
				font-family: 'DigitalDreamFat';
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				@include flex-layout(row, flex-start, center);
			}
		}
	}
</style>
