<script setup>
	import { onMounted, reactive, watch } from 'vue'
	import { useRouter } from 'vue-router'
	import { useStore } from 'vuex'
	import route from '@/router'
	const router = useRouter()
	const store = useStore()

	const state = reactive({
		showManageBt: false,
		systemName: null
	})

	const urlBack = () => {
		router.push('/home')
	}

	route.beforeEach((to, from, next) => {
		if (to.path == '/home' || to.path == '/') {
			state.showManageBt = true
		} else {
			state.showManageBt = false
		}
		next()
	})

	const selectSystem = (id) => {
		switch (id) {
			case 1:
				state.showManageBt = false
				state.systemName = '返回首页'
				break
			case 2:
				state.showManageBt = false
				state.systemName = '返回首页'
				break
			case 3:
				state.showManageBt = false
				state.systemName = '返回首页'
				break
			case 4:
				state.showManageBt = false
				state.systemName = '返回首页'
				break
			case 5:
				state.showManageBt = false
				state.systemName = '返回首页'
				break
			case 6:
				state.showManageBt = false
				state.systemName = '返回首页'
				break
			default:
				state.showManageBt = false
				state.systemName = '返回首页'
				break
		}
	}

	watch(
		() => store.state.user.system,
		(newValue, oldValue) => {
			selectSystem(newValue)
		}
	)
</script>

<template>
	<div class="section-header-right">
		<div class="bt">
			<div class="system-menage" v-show="state.showManageBt" @click="urlBack">
				<div class="icon">
					<el-icon><Setting /></el-icon>
				</div>
				<div class="text">系统管理</div>
			</div>
			<div class="back" v-show="!state.showManageBt">
				<div class="icon" @click="urlBack">
					<el-icon><Back /></el-icon>
				</div>
				<div class="text" @click="urlBack">返回首页</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-header-right {
		width: 100%;
		height: 100%;
		@include flex-layout(row, flex-end, center);
		.bt {
			width: vw(200);
			height: vh(34);
			@include flex-layout(row, flex-end, center);
			.system-menage {
				width: vw(90);
				height: vh(34);
				@include flex-layout(row, center, center);
				-webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 30%, 100% 70%, 100% 100%, 15% 100%, 0% 60%, 0% 40%);
				clip-path: polygon(0% 0%, 90% 0%, 100% 30%, 100% 70%, 100% 100%, 15% 100%, 0% 60%, 0% 40%);
				background: $header-bottom-right-button-bg-color;
				cursor: pointer;
				.icon {
					width: vw(20);
					height: 100%;
					@include flex-layout(row, center, center);
					.el-icon {
						color: #c3d5ff;
					}
				}
				.text {
					@include set-text($header-bottom-right-button-text-color, 14, 400);
				}
			}
			.back {
				width: vw(150);
				height: vh(34);
				@include flex-layout(row, flex-end, center);
				@include set-text(#4d8cf8, 16, 500, 25, 'SourceHanSansCN');
				.icon {
					width: vh(15);
					height: vh(15);
					@include flex-layout(row, center, center);
					-webkit-clip-path: circle(50% at 50% 50%);
					clip-path: circle(50% at 50% 50%);
					margin-right: vw(6);
					background: $header-bottom-back-icon-bg-color;
					cursor: pointer;
					.el-icon {
						color: $header-bottom-back-icon-color;
					}
				}
				.text {
					background: $header-bottom-back-text-color;
					text-shadow: 0px 2px 0px 0px #0a07a6;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					cursor: pointer;
				}
			}
		}
	}
</style>
