<script setup>
	import { reactive, onMounted } from 'vue'
	import { useStore } from 'vuex'
	import { useRouter } from 'vue-router'
	import http from '@api'
	const store = useStore()
	const router = useRouter()
	const state = reactive({
		showText: '',
		activebox: null,
		systemId: null
	})
	let loading

	const systemMenus = [
		{
			id: 1,
			icon: 'Setting',
			text: '运维管理平台',
			class: ''
		},
		{
			id: 2,
			icon: 'DataAnalysis',
			text: '融合分析平台',
			class: ''
		},
		{
			id: 3,
			icon: 'VideoCamera',
			text: '布控中心平台',
			class: ''
		},
		{
			id: 4,
			icon: 'UserFilled',
			text: '人员管理平台',
			class: ''
		},
		{
			id: 5,
			icon: 'DocumentCopy',
			text: '案件管理平台',
			class: ''
		},
		{
			id: 6,
			icon: 'Stamp',
			text: '审批管理平台',
			class: ''
		}
	]
	const menus = () => {
		store.state.style.menusSytle ? store.state.style.menusSytle : (store.state.style.menusSytle.flag = false)
		const data = {
			muensStyle: {
				main_aside: '0px',
				aside_box: '0px',
				main_content: '1840px',
				flag: false
			}
		}
		store.dispatch('style/setMenusInfo', data)
		const id = store.state.user.system
		id ? (state.activebox = state.systemId = id) : ''
	}

	const clickSystem = (item) => {
		state.systemId = state.activebox = item.id
	}

	const clickSystemDot = (item) => {
		state.systemId = state.activebox = item.id
	}

	const goSystem = () => {
		if (!state.systemId) {
			return
		}
		loading = ElLoading.service({
			lock: true,
			text: '加载中......',
			background: 'rgba(17,28,189,0.25)'
		})
		const params = {
			id: state.systemId
		}
		selectSystemData(params)
			.then((response) => {
				const styleData = {
					muensStyle: {
						main_aside: '260px',
						aside_box: '240px',
						main_content: '1580px',
						flag: true
					}
				}
				store.dispatch('style/setMenusInfo', styleData)
				store.dispatch('user/setSystem', state.systemId)
				const nextUrl = store.state.user.menus[1].redirect
				router.push(nextUrl)
				loading.close()
			})
			.catch((res) => {
				loading.close()
			})
	}

	const selectSystemData = async (data) => {
		const res = await http.selectSystem(data)
		if (res && res.success) {
			const data = res.data
			store
				.dispatch('user/getMenusRouter', data)
				.then(() => {})
				.catch((res) => {})
		} else {
			utils.message('error', res.info, 2000)
		}
	}

	onMounted(() => {
		menus()
		console.log('选择系统：', store.state.user.system)
	})
</script>

<template>
	<div class="section-home">
		<div class="home-box">
			<div class="system">
				<ul class="system-ul">
					<li class="item" v-for="item in systemMenus" :key="item.id" :class="{ activebox: item.id == state.activebox }" @click="clickSystem(item)">
						<div class="li-box">
							<div class="icon">
								<el-icon><component :is="item.icon" /></el-icon>
							</div>
							<div class="text">{{ item.text }}</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="touch">
				<ul class="touch-ul">
					<li class="item" v-for="item in systemMenus" :key="item.id">
						<div class="dot" :class="{ active: item.id == state.activebox }" @click="clickSystemDot(item)"></div>
					</li>
				</ul>
				<div class="go">
					<div class="bt" @click="goSystem">
						<div class="box">
							<div class="box1">点击进入</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-home {
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		@include flex-layout(column, center, center);
		border: 1px solid $home-box-border-color;
		box-shadow: 0px 1px 25px 10px $home-box-shadow-color inset;
		-webkit-clip-path: polygon(
			0% 4%,
			2% 0%,
			98% 0%,
			100% 4%,
			100% 96%,
			98% 100%,
			80% 100%,
			79% 98%,
			65% 98%,
			64% 100%,
			37% 100%,
			36% 98%,
			18% 98%,
			17% 100%,
			2% 100%,
			0% 96%
		);
		clip-path: polygon(
			0% 4%,
			2% 0%,
			98% 0%,
			100% 4%,
			100% 96%,
			98% 100%,
			80% 100%,
			79% 98%,
			65% 98%,
			64% 100%,
			37% 100%,
			36% 98%,
			18% 98%,
			17% 100%,
			2% 100%,
			0% 96%
		);
		.home-box {
			width: 100%;
			height: 100%;
			.system {
				width: 100%;
				height: calc(100% - vh(288));
				@include flex-layout(row, center, center);
				.system-ul {
					width: calc(100% - vw(460));
					height: calc(100% - vh(170));
					@include flex-layout(row, center, flex-start);
					margin: 0;
					padding: 0;
					flex-wrap: wrap;
					list-style: none;
					li {
						-webkit-clip-path: polygon(4.6% 0%, 95.4% 0%, 100% 8.2%, 100% 91.8%, 95.4% 100%, 4.6% 100%, 0% 91.8%, 0% 8.2%);
						clip-path: polygon(4.6% 0%, 95.4% 0%, 100% 8.2%, 100% 91.8%, 95.4% 100%, 4.6% 100%, 0% 91.8%, 0% 8.2%);
						width: vw(320);
						height: vh(185);
						@include flex-layout(row, center, center);
						margin-right: 30px;
						margin-bottom: 20px;
						box-shadow: 0px 0px 20px 10px $home-box-shadow-color inset;
						opacity: 0.7;
						cursor: pointer;
						.li-box {
							width: vw(320);
							height: vh(185);
							.icon {
								width: 100%;
								height: 60%;
								color: $home-icon-color;
								@include flex-layout(row, center, center);
								:deep(.el-icon) {
									font-size: vh(40);
								}
							}
							.text {
								width: 100%;
								height: 40%;
								@include flex-layout(row, center, flex-start);
								@include set-text($home-text-color, 22, 700);
							}
						}
					}
					.activebox {
						box-shadow: 0px 0px 20px 10px $home-box-active-shadow-color inset;
						.li-box {
							.icon {
								color: $home-active-icon-color;
							}
							.text {
								color: $home-active-text-color;
							}
						}
					}
				}
			}
			.touch {
				width: 100%;
				height: vh(288);
				@include flex-layout(column, center, center);
				.touch-ul {
					width: 100%;
					height: vh(70);
					@include flex-layout(row, center, center);
					padding: 0;
					.item {
						width: vw(30);
						height: vh(30);
						@include flex-layout(row, center, center);
						.dot {
							width: vw(15);
							height: vw(15);
							background: $home-hot-bg-color;
							border-radius: 50%;
							cursor: pointer;
						}
						.active {
							background: $home-hot-active-bg-color;
						}
					}
				}
				.go {
					width: inherit;
					height: calc(100% - vh(70));
					@include flex-layout(row, center, flex-start);
					.bt {
						width: vw(169);
						height: vh(60);
						-webkit-clip-path: polygon(
							0% 20%,
							6% 0%,
							38% 0%,
							42% 12%,
							55% 12%,
							60% 0%,
							94% 0%,
							100% 20%,
							100% 80%,
							94% 100%,
							60% 100%,
							55% 88%,
							42% 88%,
							38% 100%,
							6% 100%,
							0% 80%
						);
						clip-path: polygon(
							0% 20%,
							6% 0%,
							38% 0%,
							42% 12%,
							55% 12%,
							60% 0%,
							94% 0%,
							100% 20%,
							100% 80%,
							94% 100%,
							60% 100%,
							55% 88%,
							42% 88%,
							38% 100%,
							6% 100%,
							0% 80%
						);
						border: 1px solid;
						border-image: $home-click-border-color;
						background: $home-click-bg-color;
						@include flex-layout(row, center, center);
						@include set-text($home-click-text-color, 20, 500);
						cursor: pointer;
						.box {
							width: vw(163);
							height: vh(54);
							@include flex-layout(row, center, center);
							background: $home-click-box-bg-color;
							-webkit-clip-path: polygon(
								0% 20%,
								6% 0%,
								38% 0%,
								42% 12%,
								55% 12%,
								60% 0%,
								94% 0%,
								100% 20%,
								100% 80%,
								94% 100%,
								60% 100%,
								55% 88%,
								42% 88%,
								38% 100%,
								6% 100%,
								0% 80%
							);
							clip-path: polygon(
								0% 20%,
								6% 0%,
								38% 0%,
								42% 12%,
								55% 12%,
								60% 0%,
								94% 0%,
								100% 20%,
								100% 80%,
								94% 100%,
								60% 100%,
								55% 88%,
								42% 88%,
								38% 100%,
								6% 100%,
								0% 80%
							);
						}
						.box1 {
							width: vw(157);
							height: vh(45);
							-webkit-clip-path: polygon(
								0% 20%,
								6% 0%,
								38% 0%,
								42% 12%,
								55% 12%,
								60% 0%,
								94% 0%,
								100% 20%,
								100% 80%,
								94% 100%,
								60% 100%,
								55% 88%,
								42% 88%,
								38% 100%,
								6% 100%,
								0% 80%
							);
							clip-path: polygon(
								0% 20%,
								6% 0%,
								38% 0%,
								42% 12%,
								55% 12%,
								60% 0%,
								94% 0%,
								100% 20%,
								100% 80%,
								94% 100%,
								60% 100%,
								55% 88%,
								42% 88%,
								38% 100%,
								6% 100%,
								0% 80%
							);
							box-shadow: 0px 1px 25px 0px $home-click-box-shadow-color inset;
							@include flex-layout(row, center, center);
							@include set-text($home-click-text-color, 18, 500);
						}
					}
				}
			}
		}
	}
</style>
