<script setup>
	import { onMounted, reactive, ref, watch } from 'vue'
	import { useRoute } from 'vue-router'
	import { useStore } from 'vuex'
	const route = useRoute()
	const store = useStore()
	const defPath = ref(route.path)

	// 菜单
	const menus = ref(store.state.user.menus)

	// 更改收缩函数
	const isCollapse = ref(false) // 收缩菜单开关
	const changeMenuFold = () => {
		isCollapse.value = !isCollapse.value
	}

	//打开菜单
	const handleOpen = (key, keyPath) => {
		// console.log('打开：', key, keyPath)
	}
	//关闭菜单
	const handleClose = (key, keyPath) => {
		// console.log('关闭：', key, keyPath)
	}

	onMounted(() => {})

	watch(
		() => store.state.user.menus,
		(newValue, oldValue) => {
			menus.value = newValue
		}
	)

	watch(
		() => route.path,
		() => {
			defPath.value = route.path
		}
	)
</script>

<template>
	<div class="section-menu">
		<div class="menu-box">
			<!-- active-text-color="#ffd04b"
				background-color="#021e70"
				text-color="#7791cf" -->
			<el-menu
				class="st-menu"
				mode="vertical"
				:collapse="isCollapse"
				:collapse-transition="true"
				:default-active="defPath"
				:unique-opened="true"
				:router="true"
				@open="handleOpen"
				@close="handleClose"
			>
				<template v-for="(item, i) in menus" :key="i">
					<el-menu-item :index="item.path" v-if="item.meta.isHideSubMenu" v-show="!item.meta.isHide">
						<el-icon class="menu-icon" v-if="item.meta.icon"><component :is="item.meta.icon" /></el-icon>
						<template #title>
							<span>{{ item.meta.title }}</span>
						</template>
					</el-menu-item>
					<el-sub-menu :index="item.path" v-else v-show="!item.meta.isHide">
						<template #title>
							<el-icon class="menu-icon" v-if="item.meta.icon"><component :is="item.meta.icon" /></el-icon>
							<span>{{ item.meta.title }}</span>
						</template>
						<el-menu-item-group v-if="item.children">
							<el-menu-item v-show="!subItem.meta.isHide" :index="`${item.path}/${subItem.path}`" v-for="(subItem, subI) in item.children" :key="subI">
								{{ subItem.meta.title }}
							</el-menu-item>
						</el-menu-item-group>
					</el-sub-menu>
				</template>
			</el-menu>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-menu {
		width: 100%;
		height: 100%;
		position: relative;
		.menu-box {
			width: 100%;
			height: 100%;
			:deep(.st-menu) {
				width: 100%;
				height: 100%;
				background: $menu-bg;
				.el-sub-menu .el-menu-item {
					height: 38px;
				}
				.el-menu-item:hover,
				.el-sub-menu__title:hover {
					color: var(--el-menu-hover-text-color);
				}

				.el-menu-item.is-active {
					background-color: var(--el-menu-hover-bg-color);
				}
				.el-sub-menu {
					.el-menu--inline {
						.el-menu-item-group {
							.el-menu-item {
								padding-left: 70px !important;
							}
						}
					}
				}
				.menu-icon {
					color: $menu-icon-color;
				}
			}
		}
	}
</style>
<style lang="scss">
	.el-popover.el-popper {
		background-color: transparent;
		border: none;
	}
	.st-popover {
		width: auto;
		.el-popper__arrow {
			display: none;
		}
	}
</style>
