.root {
	--el-color-primary: #409eff;
	--el-color-white: #ffffff;
	--el-color-black: #000000;
	--el-color-primary-light-1: #53a8ff;
	--el-color-primary-light-2: #66b1ff;
	--el-color-primary-light-3: #79bbff;
	--el-color-primary-light-4: #8cc5ff;
	--el-color-primary-light-5: #a0cfff;
	--el-color-primary-light-6: #b3d8ff;
	--el-color-primary-light-7: #c6e2ff;
	--el-color-primary-light-8: #d9ecff;
	--el-color-primary-light-9: #ecf5ff;
	--el-color-success: #67c23a;
	--el-color-success-light: #e1f3d8;
	--el-color-success-lighter: #f0f9eb;
	--el-color-warning: #e6a23c;
	--el-color-warning-light: #faecd8;
	--el-color-warning-lighter: #fdf6ec;
	--el-color-danger: #f56c6c;
	--el-color-danger-light: #fde2e2;
	--el-color-danger-lighter: #fef0f0;
	--el-color-error: #f56c6c;
	--el-color-error-light: #fde2e2;
	--el-color-error-lighter: #fef0f0;
	--el-color-info: #909399;
	--el-color-info-light: #e9e9eb;
	--el-color-info-lighter: #f4f4f5;
	--el-text-color-primary: #303133;
	--el-text-color-regular: #606266;
	--el-text-color-secondary: #909399;
	--el-text-color-placeholder: #c0c4cc;
	--el-border-color-base: #dcdfe6;
	--el-border-color-light: #e4e7ed;
	--el-border-color-lighter: #ebeef5;
	--el-border-color-extra-light: #f2f6fc;
	--el-background-color-base: #f5f7fa;
	--el-link-color: var(--el-color-primary-light-2);
	--el-link-hover-color: var(--el-color-primary);
	--el-border-width-base: 0.02667rem;
	--el-border-style-base: solid;
	--el-border-color-hover: var(--el-text-color-placeholder);
	--el-border-base: var(--el-border-width-base) var(--el-border-style-base) var(--el-border-color-base);
	--el-border-radius-base: 0.10667rem;
	--el-border-radius-small: 0.05333rem;
	--el-border-radius-round: 0.53333rem;
	--el-border-radius-circle: 100%;
	--el-box-shadow-base: 0 0.05333rem 0.10667rem rgba(0, 0, 0, 0.12), 0 0 0.16rem rgba(0, 0, 0, 0.04);
	--el-box-shadow-light: 0 0.05333rem 0.32rem 0 rgba(0, 0, 0, 0.1);
	--el-svg-monochrome-grey: #dcdde0;
	--el-fill-base: var(--el-color-white);
	--el-font-size-extra-large: 0.53333rem;
	--el-font-size-large: 0.48rem;
	--el-font-size-medium: 0.42667rem;
	--el-font-size-base: 0.37333rem;
	--el-font-size-small: 0.34667rem;
	--el-font-size-extra-small: 0.32rem;
	--el-font-weight-primary: 500;
	--el-font-line-height-primary: 0.64rem;
	--el-font-color-disabled-base: #bbb;
	--el-index-normal: 1;
	--el-index-top: 1000;
	--el-index-popper: 2000;
	--el-disabled-fill-base: var(--el-background-color-base);
	--el-disabled-color-base: var(--el-text-color-placeholder);
	--el-disabled-border-base: var(--el-border-color-light);
	--el-button-font-weight: var(--el-font-weight-primary);
	--el-button-default-font-color: var(--el-text-color-regular);
	--el-button-default-background-color: var(--el-color-white);
	--el-button-default-border-color: var(--el-border-color-base);
	--el-button-disabled-font-color: var(--el-text-color-placeholder);
	--el-button-disabled-background-color: var(--el-color-white);
	--el-button-disabled-border-color: var(--el-border-color-light);
	--el-message-close-size: 0.42667rem;
	--el-transition-duration: 0.3s;
	--el-transition-duration-fast: 0.2s;
	--el-ease-in-out-bezier-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	--el-fast-bezier-transition: cubic-bezier(0.23, 1, 0.32, 1);
	--el-all-transition: all var(--el-transition-duration) var(--el-ease-in-out-bezier-function);
	--el-fade-transition: opacity var(--el-transition-duration) var(--el-fast-bezier-transition);
	--el-md-fade-transition: transform var(--el-transition-duration) var(--el-fast-bezier-transition),
		opacity var(--el-transition-duration) var(--el-fast-bezier-transition);
	--el-fade-linear-transition: opacity var(--el-transition-duration-fast) linear;
	--el-border-transition-base: border-color var(--el-transition-duration-fast) var(--el-ease-in-out-bezier-function);
	--el-color-transition-base: color var(--el-transition-duration-fast) var(--el-ease-in-out-bezier-function);
	--el-pagination-font-size: 0.34667rem;
	--el-pagination-background-color: var(--el-color-white);
	--el-pagination-font-color: var(--el-text-color-primary);
	--el-pagination-border-radius: 0.08rem;
	--el-pagination-button-color: var(--el-text-color-primary);
	--el-pagination-button-width: 0.94667rem;
	--el-pagination-button-height: 0.74667rem;
	--el-pagination-button-disabled-color: var(--el-text-color-placeholder);
	--el-pagination-button-disabled-background-color: var(--el-color-white);
	--el-pagination-hover-color: var(--el-color-primary);
	--el-pagination-height-extra-small: 0.58667rem;
	--el-pagination-line-height-extra-small: var(--el-pagination-height-extra-small);
	--el-dialog-background-color: var(--el-color-white);
	--el-dialog-box-shadow: 0 0.02667rem 0.08rem rgba(0, 0, 0, 0.3);
	--el-dialog-title-font-size: var(--el-font-size-large);
	--el-dialog-content-font-size: 0.37333rem;
	--el-dialog-font-line-height: var(--el-font-line-height-primary);
	--el-dialog-padding-primary: 0.53333rem;
	--el-menu-item-font-size: var(--el-font-size-base);
	--el-menu-item-font-color: var(--el-text-color-primary);
	--el-menu-background-color: var(--el-color-white);
	--el-menu-item-hover-fill: var(--el-color-primary-light-9);
	--el-menu-border-color: #e6e6e6;
	--el-switch-on-color: var(--el-color-primary);
	--el-switch-off-color: var(--el-border-color-base);
	--el-switch-font-size: var(--el-font-size-base);
	--el-switch-core-border-radius: 0.26667rem;
	--el-switch-width: 1.06667rem;
	--el-switch-height: 0.53333rem;
	--el-switch-button-size: 0.42667rem;
	--el-table-border-color: var(--el-border-color-lighter);
	--el-table-border: 0.02667rem solid var(--el-table-border-color);
	--el-table-font-color: var(--el-text-color-regular);
	--el-table-header-font-color: var(--el-text-color-secondary);
	--el-table-row-hover-background-color: var(--el-background-color-base);
	--el-table-current-row-background-color: var(--el-color-primary-light-9);
	--el-table-header-background-color: var(--el-color-white);
	--el-table-fixed-box-shadow: 0 0 0.26667rem rgba(0, 0, 0, 0.12);
	--el-datepicker-font-color: var(--el-color-text-regular);
	--el-datepicker-off-font-color: var(--el-color-text-placeholder);
	--el-datepicker-header-font-color: var(--el-color-text-regular);
	--el-datepicker-icon-color: var(--el-color-text-primary);
	--el-datepicker-border-color: var(--el-disabled-border-base);
	--el-datepicker-inner-border-color: #e4e4e4;
	--el-datepicker-inrange-background-color: var(--el-border-color-extra-light);
	--el-datepicker-inrange-hover-background-color: var(--el-border-color-extra-light);
	--el-datepicker-active-color: var(--el-color-primary);
	--el-datepicker-hover-font-color: var(--el-color-primary);
	--el-popup-modal-background-color: var(--el-color-black);
	--el-popup-modal-opacity: 0.5;
	--el-messagebox-title-color: var(--el-text-color-primary);
	--el-messagebox-width: 11.2rem;
	--el-messagebox-border-radius: 0.10667rem;
	--el-messagebox-font-size: var(--el-font-size-large);
	--el-messagebox-content-font-size: var(--el-font-size-base);
	--el-messagebox-content-color: var(--el-text-color-regular);
	--el-messagebox-error-font-size: 0.32rem;
	--el-messagebox-padding-primary: 0.4rem;
	--el-messagebox-success-color: var(--el-color-success);
	--el-messagebox-info-color: var(--el-color-info);
	--el-messagebox-warning-color: var(--el-color-warning);
	--el-messagebox-error-color: var(--el-color-error);
	--el-form-label-font-size: var(--el-font-size-base);
	--el-tree-node-hover-background-color: var(--el-background-color-base);
	--el-tree-font-color: var(--el-text-color-regular);
	--el-tree-expand-icon-color: var(--el-text-color-placeholder);
	--el-alert-padding: 0.21333rem 0.42667rem;
	--el-alert-border-radius-base: var(--el-border-radius-base);
	--el-alert-title-font-size: 0.34667rem;
	--el-alert-description-font-size: 0.32rem;
	--el-alert-close-font-size: 0.32rem;
	--el-alert-close-customed-font-size: 0.34667rem;
	--el-alert-icon-size: 0.42667rem;
	--el-alert-icon-large-size: 0.74667rem;
	--el-alert-success-color: #f0f9eb;
	--el-alert-info-color: #f4f4f5;
	--el-alert-warning-color: #fdf6ec;
	--el-alert-error-color: #fef0f0;
	--el-notification-width: 8.8rem;
	--el-notification-padding: 0.37333rem 0.69333rem 0.37333rem 0.34667rem;
	--el-notification-radius: 0.21333rem;
	--el-notification-shadow: var(--el-box-shadow-light);
	--el-notification-border-color: var(--el-border-color-lighter);
	--el-notification-icon-size: 0.64rem;
	--el-notification-close-font-size: var(--el-message-close-size);
	--el-notification-group-margin-left: 0.34667rem;
	--el-notification-group-margin-right: 0.21333rem;
	--el-notification-content-font-size: var(--el-font-size-base);
	--el-notification-content-color: var(--el-text-color-regular);
	--el-notification-title-font-size: 0.42667rem;
	--el-notification-title-color: var(--el-text-color-primary);
	--el-notification-close-color: var(--el-text-color-secondary);
	--el-notification-close-hover-color: var(--el-text-color-regular);
	--el-notification-success-icon-color: var(--el-color-success);
	--el-notification-info-icon-color: var(--el-color-info);
	--el-notification-warning-icon-color: var(--el-color-warning);
	--el-notification-error-icon-color: var(--el-color-error);
	--el-tooltip-fill: var(--el-text-color-primary);
	--el-tooltip-color: var(--el-color-white);
	--el-tooltip-font-size: 0.32rem;
	--el-tooltip-border-color: var(--el-text-color-primary);
	--el-tooltip-arrow-size: 0.16rem;
	--el-tooltip-padding: 0.26667rem;
	--el-loading-spinner-size: 1.12rem;
	--el-loading-fullscreen-spinner-size: 1.33333rem;
	--el-message-min-width: 10.13333rem;
	--el-message-background-color: #edf2fc;
	--el-message-padding: 0.4rem 0.4rem 0.4rem 0.53333rem;
	--el-message-close-icon-color: var(--el-text-color-placeholder);
	--el-message-close-hover-color: var(--el-text-color-secondary);
	--el-message-success-font-color: var(--el-color-success);
	--el-message-info-font-color: var(--el-color-info);
	--el-message-warning-font-color: var(--el-color-warning);
	--el-message-error-font-color: var(--el-color-error);
	--el-carousel-arrow-font-size: 0.32rem;
	--el-carousel-arrow-size: 0.96rem;
	--el-carousel-arrow-background: rgba(31, 45, 61, 0.11);
	--el-carousel-arrow-hover-background: rgba(31, 45, 61, 0.23);
	--el-carousel-indicator-width: 0.8rem;
	--el-carousel-indicator-height: 0.05333rem;
	--el-carousel-indicator-padding-horizontal: 0.10667rem;
	--el-carousel-indicator-padding-vertical: 0.32rem;
	--el-carousel-indicator-out-color: var(--el-border-color-hover);
	--el-collapse-border-color: var(--el-border-color-lighter);
	--el-collapse-header-height: 1.28rem;
	--el-collapse-header-background-color: var(--el-color-white);
	--el-collapse-header-font-color: var(--el-text-color-primary);
	--el-collapse-header-font-size: 0.34667rem;
	--el-collapse-content-background-color: var(--el-color-white);
	--el-collapse-content-font-size: 0.34667rem;
	--el-collapse-content-font-color: var(--el-text-color-primary);
	--el-tag-primary-color: var(--el-color-primary);
	--el-tag-success-color: var(--el-color-success);
	--el-tag-warning-color: var(--el-color-warning);
	--el-tag-info-color: var(--el-color-info);
	--el-tag-danger-color: var(--el-color-danger);
	--el-tag-font-size: 0.32rem;
	--el-tag-border-radius: 0.10667rem;
	--el-tag-padding: 0 0.26667rem;
	--el-cascader-menu-font-color: var(--el-text-color-regular);
	--el-cascader-menu-selected-font-color: var(--el-color-primary);
	--el-cascader-menu-fill: var(--el-fill-base);
	--el-cascader-menu-font-size: var(--el-font-size-base);
	--el-cascader-menu-radius: var(--el-border-radius-base);
	--el-cascader-menu-border: solid 0.02667rem var(--el-border-color-light);
	--el-cascader-menu-shadow: var(--el-box-shadow-light);
	--el-cascader-node-background-hover: var(--el-background-color-base);
	--el-cascader-node-color-disabled: var(--el-text-color-placeholder);
	--el-cascader-color-empty: var(--el-text-color-placeholder);
	--el-cascader-tag-background: #f0f2f5;
	--el-transfer-border-color: var(--el-border-color-lighter);
	--el-transfer-border-radius: var(--el-border-radius-base);
	--el-transfer-panel-width: 5.33333rem;
	--el-transfer-panel-header-height: 1.06667rem;
	--el-transfer-panel-header-background-color: var(--el-background-color-base);
	--el-transfer-panel-footer-height: 1.06667rem;
	--el-transfer-panel-body-height: 6.56rem;
	--el-transfer-item-height: 0.8rem;
	--el-transfer-filter-height: 0.85333rem;
	--el-header-padding: 0 0.53333rem;
	--el-header-height: 1.6rem;
	--el-aside-width: 8rem;
	--el-main-padding: 0.53333rem;
	--el-footer-padding: 0 0.53333rem;
	--el-footer-height: 1.6rem;
	--el-timeline-node-size-normal: 0.32rem;
	--el-timeline-node-size-large: 0.37333rem;
	--el-timeline-node-color: var(--el-border-color-light);
	--el-link-font-size: var(--el-font-size-base);
	--el-link-font-weight: var(--el-font-weight-primary);
	--el-link-default-font-color: var(--el-text-color-regular);
	--el-link-default-active-color: var(--el-color-primary);
	--el-link-disabled-font-color: var(--el-text-color-placeholder);
	--el-link-primary-font-color: var(--el-color-primary);
	--el-link-success-font-color: var(--el-color-success);
	--el-link-warning-font-color: var(--el-color-warning);
	--el-link-danger-font-color: var(--el-color-danger);
	--el-link-info-font-color: var(--el-color-info);
	--el-button-primary-border-color: var(--el-color-primary);
	--el-button-success-border-color: var(--el-color-success);
	--el-button-warning-border-color: var(--el-color-warning);
	--el-button-danger-border-color: var(--el-color-danger);
	--el-button-info-border-color: var(--el-color-info);
	--el-button-divide-border-color: rgba(255, 255, 255, 0.5);
	--el-calendar-border: var(--el-table-border, 1px solid var(--el-border-color-lighter));
	--el-calendar-header-border-bottom: var(--el-calendar-border);
	--el-calendar-selected-background-color: #f2f8fe;
	--el-calendar-cell-width: 2.26667rem;
	--el-backtop-background-color: var(--el-color-white);
	--el-backtop-font-color: var(--el-color-primary);
	--el-backtop-hover-background-color: var(--el-border-color-extra-light);
	--el-checkbox-font-size: 0.37333rem;
	--el-checkbox-font-weight: var(--el-font-weight-primary);
	--el-checkbox-font-color: var(--el-text-color-regular);
	--el-checkbox-input-height: 0.37333rem;
	--el-checkbox-input-width: 0.37333rem;
	--el-checkbox-border-radius: var(--el-border-radius-small);
	--el-checkbox-background-color: var(--el-color-white);
	--el-checkbox-input-border: var(--el-border-base);
	--el-checkbox-disabled-border-color: var(--el-border-color-base);
	--el-checkbox-disabled-input-fill: #edf2fc;
	--el-checkbox-disabled-icon-color: var(--el-text-color-placeholder);
	--el-checkbox-disabled-checked-input-fill: var(--el-border-color-extra-light);
	--el-checkbox-disabled-checked-input-border-color: var(--el-border-color-base);
	--el-checkbox-disabled-checked-icon-color: var(--el-text-color-placeholder);
	--el-checkbox-checked-font-color: var(--el-color-primary);
	--el-checkbox-checked-input-border-color: var(--el-color-primary);
	--el-checkbox-checked-background-color: var(--el-color-primary);
	--el-checkbox-checked-icon-color: var(--el-fill-base);
	--el-checkbox-input-border-color-hover: var(--el-color-primary);
	--el-checkbox-bordered-height: 1.06667rem;
	--el-checkbox-button-checked-background-color: var(--el-color-primary);
	--el-checkbox-button-checked-font-color: var(--el-color-white);
	--el-checkbox-button-checked-border-color: var(--el-color-primary);
	--el-radio-font-weight: var(--el-font-weight-primary);
	--el-avatar-font-color: #fff;
	--el-avatar-background-color: #c0c4cc;
	--el-avatar-text-font-size: 0.37333rem;
	--el-avatar-icon-font-size: 0.48rem;
	--el-avatar-border-radius: var(--el-border-radius-base);
	--el-avatar-large-size: 1.06667rem;
	--el-avatar-medium-size: 0.96rem;
	--el-avatar-small-size: 0.74667rem;
	--el-drawer-background-color: var(--el-dialog-background-color, var(--el-color-white));
	--el-drawer-padding-primary: var(--el-dialog-padding-primary, 20px);
	--el-popper-border-radius: var(--el-popover-border-radius, 4px);
	--el-popover-background-color: var(--el-color-white);
	--el-popover-font-size: var(--el-font-size-base);
	--el-popover-border-color: var(--el-border-color-lighter);
	--el-popover-padding: 0.32rem;
	--el-popover-padding-large: 0.48rem 0.53333rem;
	--el-popover-title-font-size: 0.42667rem;
	--el-popover-title-font-color: var(--el-text-color-primary);
	--el-popover-border-radius: 0.10667rem;
	--el-scrollbar-opacity: 0.3;
	--el-scrollbar-background-color: var(--el-text-color-secondary);
	--el-scrollbar-hover-opacity: 0.5;
	--el-scrollbar-hover-background-color: var(--el-text-color-secondary);
	--el-skeleton-color: #f2f2f2;
	--el-skeleton-to-color: #e6e6e6;
	--el-skeleton-avatar-small-size: var(--el-avatar-small-size);
	--el-skeleton-avatar-medium-size: var(--el-avatar-medium-size);
	--el-skeleton-avatar-large-size: var(--el-avatar-large-size);
	--el-empty-padding: 1.06667rem 0;
	--el-empty-image-width: 4.26667rem;
	--el-empty-description-margin-top: 0.53333rem;
	--el-empty-bottom-margin-top: 0.53333rem;
	--el-descriptions-header-margin-bottom: 0.53333rem;
	--el-descriptions-title-font-size: 0.42667rem;
	--el-descriptions-table-border: 0.02667rem solid map.get($--border-color, 'lighter');
	--el-descriptions-item-bordered-label-background: #fafafa;
	--el-result-padding: 1.06667rem 0.8rem;
	--el-result-icon-font-size: 1.70667rem;
	--el-result-title-font-size: 0.53333rem;
	--el-result-title-margin-top: 0.53333rem;
	--el-result-subtitle-margin-top: 0.26667rem;
	--el-result-extra-margin-top: 0.8rem;
	--el-result-success-color: var(--el-color-success);
	--el-result-warning-color: var(--el-color-warning);
	--el-result-danger-color: var(--el-color-danger);
	--el-result-info-color: var(--el-color-info);
	--el-result-error-color: var(--el-color-error);
}

.line-clamp1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.line-clamp2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
