.el-select-dropdown__item {
	padding: 0 32px 0 20px;
}

.el-select__popper.el-popper[role='tooltip'] {
	background: var(--el-popover-background-color) !important;
	border: 1px solid var(--el-popover-border-color) !important;
	box-shadow: var(--el-box-shadow-light);
}

.el-select__popper.el-popper[role='tooltip'] .el-popper__arrow::before {
	background: var(--el-popover-background-color) !important;
}

.el-select__popper.el-popper[role='tooltip'][data-popper-placement^='top'] .el-popper__arrow::before {
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom: 1px solid var(--el-popover-border-color) !important;
	border-right: 1px solid var(--el-popover-border-color) !important;
}

.el-select__popper.el-popper[role='tooltip'][data-popper-placement^='bottom'] .el-popper__arrow::before {
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left: 1px solid var(--el-popover-border-color) !important;
	border-top: 1px solid var(--el-popover-border-color) !important;
}

.el-select__popper.el-popper[role='tooltip'][data-popper-placement^='left'] .el-popper__arrow::before {
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right: 1px solid var(--el-popover-border-color) !important;
	border-top: 1px solid var(--el-popover-border-color) !important;
}

.el-select__popper.el-popper[role='tooltip'][data-popper-placement^='right'] .el-popper__arrow::before {
	border-right-color: transparent;
	border-top-color: transparent;
	border-left: 1px solid var(--el-popover-border-color) !important;
	border-bottom: 1px solid var(--el-popover-border-color) !important;
}

.el-picker-panel .el-time-panel {
	background-color: var(--el-color-white);
}

.el-time-spinner__item.is-active:not(.is-disabled) {
	color: var(--el-border-color-hover);
}

.el-message {
	top: calc((100% - 40px) * 0.2) !important;
}

.el-tree {
	background: var(--el-popover-background-color) !important;
}

.el-link.el-link--primary:hover {
	color: var(--el-color-primary-light-2);
}

.el-button--default:active {
	color: var(--el-color-primary-dark);
	border-color: var(--el-color-primary-dark);
}

.el-scrollbar__bar.is-vertical {
	width: 4px !important;
}

.el-picker-panel {
	color: var(--el-text-color-regular);
	background: #091e63 !important;
	border-radius: var(--el-border-radius-base);
	line-height: 30px;
}

.el-picker__popper.el-popper[role='tooltip'] {
	background: #091e63 !important;
	border: 1px solid var(--el-datepicker-border-color);
	box-shadow: var(--el-box-shadow-light);
}

.el-picker__popper.el-popper[role='tooltip'][data-popper-placement^='top'] .el-popper__arrow::before {
	border-top-color: transparent;
	border-left-color: transparent;
}

.el-picker__popper.el-popper[role='tooltip'][data-popper-placement^='bottom'] .el-popper__arrow::before {
	border-bottom-color: transparent;
	border-right-color: transparent;
}

.el-picker__popper.el-popper[role='tooltip'][data-popper-placement^='left'] .el-popper__arrow::before {
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.el-picker__popper.el-popper[role='tooltip'][data-popper-placement^='right'] .el-popper__arrow::before {
	border-right-color: transparent;
	border-top-color: transparent;
}

.el-picker-panel__footer {
	border-top: 1px solid var(--el-datepicker-inner-border-color);
	padding: 4px 12px;
	text-align: right;
	background-color: #091e63 !important;
	position: relative;
	font-size: 0;
}

.el-date-editor .el-range__icon {
	font-size: 14px;
	color: var(--el-date-picker-icon) !important;
}

.el-radio__input.is-checked .el-radio__inner {
	border-color: var(--el-radio-checked-border-color) !important;
	background: var(--el-radio-checked-bg-color) !important;
}

.el-collapse {
	border: 1px solid var(--el-collapse-border-color);
}

.el-form-item--default {
	--font-size: 14px;
	--el-form-label-font-size: var(--font-size);
	margin-bottom: 18px;
}

.el-form-item__label {
	color: var(--el-form-item-label-text-color) !important;
}
