<script setup></script>

<template>
	<div class="section-404">
		<svg width="349px" height="283px" viewBox="0 0 349 283" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<title>没有数据</title>
			<defs>
				<linearGradient x1="50%" y1="0%" x2="50%" y2="59.4280677%" id="linearGradient-1">
					<stop stop-color="#3F84FF" offset="0%"></stop>
					<stop stop-color="#3F84FF" stop-opacity="0" offset="100%"></stop>
				</linearGradient>
				<linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-2">
					<stop stop-color="#003576" offset="0%"></stop>
					<stop stop-color="#245399" offset="100%"></stop>
				</linearGradient>
				<linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-3">
					<stop stop-color="#1B286E" offset="0%"></stop>
					<stop stop-color="#163171" stop-opacity="0" offset="100%"></stop>
				</linearGradient>
				<linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-4">
					<stop stop-color="#1B286E" offset="0%"></stop>
					<stop stop-color="#163171" stop-opacity="0" offset="100%"></stop>
				</linearGradient>
				<linearGradient x1="50%" y1="100%" x2="50%" y2="-3.55520318e-12%" id="linearGradient-5">
					<stop stop-color="#254A9A" offset="0%"></stop>
					<stop stop-color="#397BCB" offset="100%"></stop>
				</linearGradient>
				<linearGradient x1="100%" y1="50%" x2="-2.22044605e-14%" y2="50%" id="linearGradient-6">
					<stop stop-color="#194B97" offset="0%"></stop>
					<stop stop-color="#3973D8" offset="100%"></stop>
				</linearGradient>
				<linearGradient x1="100%" y1="50%" x2="-2.22044605e-14%" y2="50%" id="linearGradient-7">
					<stop stop-color="#0F3A7C" offset="0%"></stop>
					<stop stop-color="#255BB8" offset="100%"></stop>
				</linearGradient>
				<linearGradient x1="100%" y1="50%" x2="-1.70530257e-11%" y2="50%" id="linearGradient-8">
					<stop stop-color="#072463" offset="0%"></stop>
					<stop stop-color="#2E72C5" offset="100%"></stop>
				</linearGradient>
				<circle id="path-9" cx="17" cy="17" r="17"></circle>
				<linearGradient x1="100%" y1="50%" x2="-1.70530257e-11%" y2="50%" id="linearGradient-11">
					<stop stop-color="#072463" offset="0%"></stop>
					<stop stop-color="#2E72C5" offset="100%"></stop>
				</linearGradient>
			</defs>
			<g id="精简版2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="工作舱/碰撞结果（执行中）" transform="translate(-545.000000, -348.000000)">
					<g id="编组-23" transform="translate(545.000000, 348.000000)">
						<path
							d="M349,229.5 C349,158.53141 270.873689,101 174.5,101 C78.1263112,101 0,158.53141 0,229.5 C0,300.46859 349,300.46859 349,229.5 Z"
							id="椭圆形"
							fill="url(#linearGradient-1)"
							opacity="0.445069795"
						></path>
						<g id="编组-20" transform="translate(17.000000, 16.000000)">
							<rect id="矩形" fill="url(#linearGradient-2)" x="110" y="9.11965812" width="97" height="117.726496"></rect>
							<polygon id="矩形备份-10" fill="url(#linearGradient-3)" points="110 127.119658 207 127.119658 182 153.119658 85 153.119658"></polygon>
							<polygon
								id="矩形备份-57"
								fill="url(#linearGradient-4)"
								points="72 130.119658 76.7936329 130.119658 51.7936329 156.119658 47 156.119658"
							></polygon>
							<polygon
								id="矩形备份-58"
								fill="url(#linearGradient-4)"
								points="25 137.119658 29.7936329 137.119658 4.79363288 163.119658 -5.48894263e-13 163.119658"
							></polygon>
							<polygon
								id="矩形备份-59"
								fill="url(#linearGradient-4)"
								points="274 130.119658 278.793633 130.119658 253.793633 156.119658 249 156.119658"
							></polygon>
							<polygon
								id="矩形"
								fill="#2E75CC"
								points="118.290598 13.2649573 159.184796 13.2649573 198.709402 13.2649573 198.709402 116.897436 118.290598 116.897436"
							></polygon>
							<g id="编组-19" transform="translate(153.111111, 41.452991)" fill="#B6D7FF">
								<circle id="椭圆形" cx="5.8034188" cy="43.1111111" r="4.14529915"></circle>
								<polygon id="矩形" points="0 0 11.6068376 0 9.11965812 34.8205128 1.65811966 34.8205128"></polygon>
							</g>
							<path
								d="M158.91453,0 C162.11967,0 164.717949,2.5982791 164.717949,5.8034188 L164.713795,5.641 L182.128205,5.64102564 L182.128205,17.2478632 L134.871795,17.2478632 L134.871795,5.64102564 L153.113326,5.6415017 C153.199077,2.51122819 155.763539,0 158.91453,0 Z"
								id="形状结合"
								fill="url(#linearGradient-5)"
							></path>
						</g>
						<polygon id="矩形" fill="#E2CB70" points="214 0 218 0 217 19 215 19"></polygon>
						<polygon
							id="矩形备份-14"
							fill="#E2CB70"
							transform="translate(239.000000, 27.500000) rotate(-270.000000) translate(-239.000000, -27.500000) "
							points="237 18 241 18 240 37 238 37"
						></polygon>
						<polygon
							id="矩形备份-13"
							fill="#E2CB70"
							transform="translate(234.000000, 13.500000) rotate(45.000000) translate(-234.000000, -13.500000) "
							points="232 4 236 4 235 23 233 23"
						></polygon>
						<path
							d="M91.5,88 C98.9558441,88 105,98.8062181 105,112.136364 C105,124.223155 100.030784,128.282398 93.5457021,128.934486 L93.5454545,146.909091 L89.4545455,146.909091 L89.4542979,128.934486 C82.9692164,128.282398 78,124.223155 78,112.136364 C78,98.8062181 84.0441559,88 91.5,88 Z"
							id="形状结合"
							fill="url(#linearGradient-6)"
						></path>
						<path
							d="M42.5,118 C47.1944204,118 51,124.803915 51,133.19697 C51,140.807211 47.871202,143.363018 43.7879719,143.773571 L43.7878788,155.090909 L41.2121212,155.090909 L41.2120281,143.773571 C37.128798,143.363018 34,140.807211 34,133.19697 C34,124.803915 37.8055796,118 42.5,118 Z"
							id="形状结合备份"
							fill="url(#linearGradient-7)"
						></path>
						<path
							d="M293.5,110 C298.19442,110 302,116.803915 302,125.19697 C302,132.807211 298.871202,135.363018 294.787972,135.773571 L294.787879,147.090909 L292.212121,147.090909 L292.212028,135.773571 C288.128798,135.363018 285,132.807211 285,125.19697 C285,116.803915 288.80558,110 293.5,110 Z"
							id="形状结合备份-2"
							fill="url(#linearGradient-7)"
						></path>
						<g
							id="编组-22"
							transform="translate(226.000000, 117.500000) rotate(-44.000000) translate(-226.000000, -117.500000) translate(204.000000, 74.000000)"
						>
							<rect
								id="矩形备份-12"
								fill="url(#linearGradient-8)"
								transform="translate(22.772078, 45.807612) rotate(-360.000000) translate(-22.772078, -45.807612) "
								x="20.7720779"
								y="42.3076118"
								width="4"
								height="7"
							></rect>
							<circle id="椭圆形" fill="#05397B" cx="22" cy="22" r="22"></circle>
							<g id="矩形" transform="translate(5.000000, 5.000000)">
								<mask id="mask-10" fill="white">
									<use xlink:href="#path-9"></use>
								</mask>
								<use id="蒙版" fill="#5B99E4" xlink:href="#path-9"></use>
								<rect
									fill="#104286"
									opacity="0.659242159"
									mask="url(#mask-10)"
									transform="translate(21.940706, 21.572018) rotate(-315.000000) translate(-21.940706, -21.572018) "
									x="15.9407063"
									y="3.57201757"
									width="12"
									height="36"
								></rect>
							</g>
							<rect id="矩形" fill="url(#linearGradient-11)" x="18" y="49" width="9" height="38" rx="4.5"></rect>
						</g>
					</g>
				</g>
			</g>
		</svg>
		<div class="text">页面不存在...</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-404 {
		width: 100%;
		height: 100%;
		@include flex-layout(column, center, center);
		.text {
			color: var(--el-text-color);
			font-size: vh(14);
		}
	}
</style>
