<script setup>
	import { onMounted, reactive } from 'vue'

	const state = reactive({
		showFlag: true,
		timer: null
	})

	const open = () => {
		state.showFlag = !state.showFlag
		startmove(30)
	}
	const close = () => {
		state.showFlag = !state.showFlag
		startmove(-900)
	}

	const startmove = (target) => {
		clearInterval(state.timer) //清除定时器，以免多次触发定时器导致速度越来越快而不是匀速前进
		const onDiv1 = document.getElementById('box')
		state.timer = setInterval(function () {
			var speed = 0
			if (onDiv1.offsetLeft < target) {
				speed = 30
			} else {
				speed = -30
			}
			if (onDiv1.offsetLeft == target) {
				clearInterval(state.timer)
			} else {
				onDiv1.style.left = onDiv1.offsetLeft + speed + 'px'
			}
		}, 30)
	}
	onMounted(() => {})
</script>

<template>
	<div class="section-drawer">
		<div class="drawer-box" id="box">
			<div class="box-content"></div>
			<div class="bt" v-show="state.showFlag" @click="open">打开</div>
			<div class="bt" v-show="!state.showFlag" @click="close">关闭</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-drawer {
		width: 100%;
		height: 100%;
		.drawer-box {
			// width: 900px;
			// height: 540px;
			width: vw(900);
			height: vh(540);
			background: $drawer-bg-color;
			position: relative;
			left: vw(-900);
			top: 0px;
			z-index: 1001;
			.bt {
				width: vw(28);
				height: vh(100);
				position: absolute;
				left: vw(900);
				top: vh(240);
				@include flex-layout(row, center, center);
				background: $drawer-bt-bg-color;
				cursor: pointer;
			}
		}
	}
</style>
