<script setup>
	import { watch, onMounted } from 'vue'
	import * as echarts from 'echarts' // 全量引入
	import { uuid } from 'vue-uuid'

	const props = defineProps({
		options: {
			type: Object,
			default: {}
		},
		theme: {
			type: String,
			default: ''
		},
		mapData: {
			type: Object,
			default: {
				name: '',
				svg: {}
			}
		}
	})
	let dom
	let chart
	// 因为是通用组件，所以必须要满足有一个唯一的class
	let className = `echarts${uuid.v4()}`
	//初始化echarts
	const initChart = () => {
		if (!chart) {
			dom = document.getElementsByClassName(className)[0]
			chart = echarts.init(dom, props.theme)
			// 隐藏数据刷新动画
			chart.hideLoading()
			// 注册可用的地图
			echarts.registerMap(props.mapData.name, { svg: props.mapData.svg })
		}
		if (props.options) {
			chart.setOption(props.options)
		}
	}
	// 添加百度地图插件
	//   var bmap = chart.getModel().getComponent('bmap').getBMap();
	//   bmap.addControl(new BMap.MapTypeControl());

	//监听浏览器窗口变化
	window.addEventListener('resize', function () {
		chart.resize()
	})
	onMounted(() => {
		initChart()
	})
	watch(
		() => props.options,
		() => {
			initChart()
		}
	)
</script>

<template>
	<div :class="[className, 'echarts']"></div>
</template>

<style lang="scss" scoped>
	.echarts {
		width: 100%;
		height: 100%;
	}
</style>
