<script setup>
	import { watch, onMounted, ref } from 'vue'
	import * as echarts from 'echarts' // 全量引入
	import { uuid } from 'vue-uuid'
	import TipMessage from '@comps/TipMessage.vue'

	const props = defineProps({
		options: {
			type: Object,
			default: {}
		},
		theme: {
			type: String,
			default: ''
		},
		mapData: {
			type: Object,
			default: {
				name: '',
				geoJson: {}
			}
		}
	})
	let dom
	let chart
	// 因为是通用组件，所以必须要满足有一个唯一的class
	let className = `echarts${uuid.v4()}`
	//初始化echarts
	const initChart = () => {
		if (!chart) {
			dom = document.getElementsByClassName(className)[0]
			chart = echarts.init(dom, props.theme)
			// 隐藏数据刷新动画
			chart.hideLoading()
			// 注册可用的地图
			echarts.registerMap(props.mapData.name, props.mapData.geoJson)
		}
		if (props.options) {
			chart.setOption(props.options)
		}
		chart.on('click', function (params) {
			console.log(`点击：${1}`, params)
			tipMsgRef.value.open(params.name)
		})
	}
	// 添加百度地图插件
	//   var bmap = chart.getModel().getComponent('bmap').getBMap();
	//   bmap.addControl(new BMap.MapTypeControl());

	//监听浏览器窗口变化
	window.addEventListener('resize', function () {
		chart.resize()
	})

	const tipMsgRef = ref(null)

	onMounted(() => {
		initChart()
	})
	watch(
		() => props.options,
		() => {
			initChart()
		}
	)
</script>

<template>
	<div :class="[className, 'echarts']"></div>
	<TipMessage ref="tipMsgRef" />
</template>

<style lang="scss" scoped>
	.echarts {
		width: 100%;
		height: 100%;
	}
</style>
