<script setup>
	import { reactive, ref } from 'vue'

	const props = defineProps({
		tool: {
			type: Object,
			default: {}
		},
		table: {
			type: Object,
			default: {
				loading: false, //加载数据时显示动效
				type: 'index', //selection / index / expand
				checkSelec: 'selection',
				size: 'default', //表格尺寸类型 large / default /small
				height: '100%', //表格高度
				maxHeight: '100%', //Table 的最大高度。 合法的值为数字或者单位为 px 的高度。
				showIndex: true, //是否显示序号
				showCheck: true, //是否显示多选框
				stripe: true, //是否为斑马纹 table
				border: false, //是否带有纵向边框
				fit: true, //列的宽度是否自撑开
				showHeader: true, //是否显示表头
				highlightCurrentRow: true, //是否要高亮当前行
				// defaultSort: { order: ascending }, //order: ascending / descending默认的排序列的 prop 和顺序。 它的 prop 属性指定默认的排序的列，order 指定默认排序的顺序
				tooltipEffect: 'dark', //dark / light
				tableLayout: 'fixed', //fixed / auto 设置表格单元、行和列的布局方式
				scrollbarAlwaysOn: true, //always show scrollbar
				showDo: true //操作列是否显示
			}
		},
		tableColumn: {
			type: Array,
			default: [
				{
					isShow: true, //是否显示
					prop: 'id',
					label: 'ID',
					width: '100',
					style: 'display: flex; align-items: center',
					showOverflowTooltip: true, //当内容过长被隐藏时显示 tooltip
					align: 'left', //对齐方式 left / center / right
					sortable: false, //对应列是否可以排序， 如果设置为 'custom'，则代表用户希望远程排序，需要监听 Table 的 sort-change 事件
					resizable: false, //对应列是否可以通过拖动改变宽度（需要在 el-table 上设置 border 属性为真）
					class: '', //类名
					formatter: ''
				}
			]
		},
		tableData: {
			type: Array,
			default: [
				{
					id: 1,
					name: '张三',
					date: '2021-02-12',
					status: '未读'
				}
			]
		},
		pagination: {
			type: Object,
			default: {
				layout: 'prev, pager, next, sizes', //组件布局，子组件名用逗号分隔
				setPage: [10, 20, 30, 40, 50, 100], //每页显示个数选择器的选项设置
				small: false, //是否使用小型分页样式
				disabled: false, //是否禁用分页
				background: true, //是否为分页按钮添加背景色
				pagerCount: 5 //设置最大页码按钮数。5 ≤ x ≤ 21 的奇数, 页码按钮的数量，当总页数超过该值时会折叠
			}
		},
		seaver: {
			type: Object,
			default: {}
		},
		expetParams: {
			type: Boolean,
			default: false
		},
		middleParams: {
			type: Boolean,
			default: false
		},
		systemParams: {
			type: Boolean,
			default: false
		},
		controlParams: {
			type: Boolean,
			default: false
		},
		approveParams: {
			type: Boolean,
			default: false
		},
		caseParams: {
			type: Boolean,
			default: false
		}
	})

	//1.暴露内部数据 注册要暴露的数据
	const emits = defineEmits([
		'pageSizeChange',
		'pageCurrentChange',
		'tableStop',
		'tableJurisdiction',
		'tableEdit',
		'tableDelete',
		'tableView',
		'tableRefuse',
		'tablePass',
		'expetData',
		'jiaoData',
		'bingData',
		'chaData'
	])

	const state = reactive({
		selectFormat: null, //下载格式
		checkData: [] //选中的表格数据
	})

	//分页栏页数默认值
	const paginations = reactive({
		pageSize: 20, //每页显示条目个数，支持 v-model 双向绑定
		currentPage: 1, //当前页数，支持 v-model 双向绑定
		total: 100 //总条目数
	})

	const tableRef = ref(null) //表格

	const svg = `
        <path class="path" d="
          M 30 15
          L 28 17
          M 25.61 25.61
          A 15 15, 0, 0, 1, 15 30
          A 15 15, 0, 1, 1, 27.99 7.5
          L 15 15
        " style="stroke-width: 4px; fill: rgba(0, 0, 0, 0)"/>
      `
	//选择表格数据
	const checkData = (data) => {
		state.checkData = data
	}
	//行的自定义样式
	const diyRow = ({ row, rowIndex }) => {
		// console.log('row：', rowIndex, row)
		return {
			// backgroundColor: 'pink',
			// color: '#fff',
			// height: "40px",
			// border: "1px solid #2c5cad",
			// marginBottom: "2px",
		}
	}
	//每页显示条目个数修改
	const handleSizeChange = (v) => {
		paginations.pageSize = v
		//2、触发父组件中暴露的pageSizeChange方法并携带数据
		emits('pageSizeChange', v)
	}

	//当前页数修改
	const handleCurrentChange = (v) => {
		paginations.currentPage = v
		emits('pageCurrentChange', v)
	}

	//停用
	const handleStop = (data) => {
		emits('tableStop', data)
	}
	//菜单权限
	const handleJurisdiction = (data) => {
		emits('tableJurisdiction', data)
	}
	//编辑
	const handleEdit = (data) => {
		emits('tableEdit', data)
	}
	//删除
	const handleDelete = (data) => {
		emits('tableDelete', data)
	}
	//查看
	const handleView = (data) => {
		emits('tableView', data)
	}
	//拒绝
	const handleRefuse = (data) => {
		emits('tableRefuse', data)
	}
	//通过
	const handlePass = (data) => {
		emits('tablePass', data)
	}
	//table 某一列翻译
	const formatter = (row) => {
		return row
	}
	//导出
	const handleExpet = (data) => {
		emits('expetData', state.selectFormat, state.checkData)
	}
	//交集
	const handleJiao = (data) => {
		emits('jiaoData', state.checkData)
	}
	//并集
	const handleBing = (data) => {
		emits('bingData', state.checkData)
	}
	//差集
	const handleCha = (data) => {
		emits('chaData', state.checkData)
	}
</script>

<template>
	<div class="section-table">
		<div class="st-table">
			<!-- :border="table.border" -->
			<el-table
				v-loading="table.loading"
				element-loading-text="数据加载中..."
				:element-loading-spinner="svg"
				element-loading-svg-view-box="-10, -10, 50, 50"
				element-loading-background="rgba(0, 0, 0, 0.8)"
				ref="tableRef"
				class="my-table"
				:data="tableData"
				:height="table.height"
				:size="table.size"
				:max-height="table.maxHeight"
				:stripe="table.stripe"
				:border="table.border"
				:fit="table.fit"
				:show-header="table.showHeader"
				:highlight-current-row="table.highlightCurrentRow"
				:tooltip-effect="table.tooltipEffect"
				:table-layout="table.tableLayout"
				:scrollbar-always-on="table.scrollbarAlwaysOn"
				:default-sort="table.defaultSort"
				:row-style="diyRow"
				@selection-change="checkData"
			>
				<el-table-column :type="table.checkSelec" width="55" v-if="table.showCheck" />
				<el-table-column :type="table.type" label="序号" width="70" align="center" v-if="table.showIndex" />
				<el-table-column
					v-for="item in tableColumn"
					:key="item.id"
					:isShow="item.isShow"
					:prop="item.prop"
					:label="item.label"
					:width="item.width"
					:showOverflowTooltip="item.showOverflowTooltip"
					:align="item.align"
					:resizable="item.resizable"
					:class="item.class"
					:sortable="item.sortable"
					:formatter="item.formatter"
				></el-table-column>

				<el-table-column label="操作" v-if="table.showDo">
					<template #default="scope">
						<div class="system" v-if="systemParams">
							<el-button class="bt stop" :class="scope.row.type ? 'stop' : 'start'" @click="handleStop(scope.row)">
								{{ scope.row.type ? '停用' : '启用' }}
							</el-button>
							<el-button class="bt jurisdiction" @click="handleJurisdiction(scope.row)">菜单权限</el-button>
							<el-button class="bt edit" @click="handleEdit(scope.row)">编辑</el-button>
							<el-button class="bt delete" @click="handleDelete(scope.row)">删除</el-button>
						</div>
						<div class="control" v-if="controlParams">
							<el-button class="bt stop" :class="scope.row.type ? 'stop' : 'start'" @click="handleStop(scope.row)">
								{{ scope.row.type ? '停用' : '启用' }}
							</el-button>
							<el-button class="bt view" @click="handleView(scope.row)">查看</el-button>
							<el-button class="bt edit" @click="handleEdit(scope.row)">编辑</el-button>
							<el-button class="bt delete" @click="handleDelete(scope.row)">删除</el-button>
						</div>
						<div class="approve" v-if="approveParams">
							<el-button class="bt refuse" @click="handleRefuse(scope.row)">拒绝</el-button>
							<el-button class="bt pass" @click="handlePass(scope.row)">通过</el-button>
							<el-button class="bt view" @click="handleView(scope.row)">查看</el-button>
						</div>
						<div class="case" v-if="caseParams">
							<el-button class="bt view" @click="handleView(scope.row)">查看</el-button>
						</div>
					</template>
				</el-table-column>
			</el-table>
		</div>
		<div class="st-pagination">
			<div class="expet" v-if="expetParams">
				<el-select class="select-format" v-model="state.selectFormat" placeholder="选择格式" size="default">
					<el-option label="Excel" value="1" />
					<el-option label="Csv" value="2" />
				</el-select>
				<el-button class="bt exp" @click="handleExpet">导出数据</el-button>
			</div>
			<div class="middle" v-if="middleParams">
				<el-button class="bt jiao" @click="handleJiao">交集</el-button>
				<el-button class="bt bing" @click="handleBing">并集</el-button>
				<el-button class="bt cha" @click="handleCha">差集</el-button>
			</div>
			<div class="auto"></div>
			<el-pagination
				class="v2-pagination"
				v-model:currentPage="paginations.currentPage"
				:page-size="paginations.pageSize"
				:total="paginations.total"
				:page-sizes="pagination.setPage"
				:layout="pagination.layout"
				:pager-count="pagination.pagerCount"
				:small="pagination.small"
				:disabled="pagination.disabled"
				:background="pagination.background"
				@size-change="handleSizeChange"
				@current-change="handleCurrentChange"
			/>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-table {
		width: 100%;
		height: 100%;
		.st-table {
			width: 100%;
			height: calc(100% - vh(70));
			:deep(.my-table) {
				width: 100%;
				height: 100%;
				font-size: vh(14);
				.el-table__header-wrapper {
					margin-bottom: 4px;
					.el-table__header {
						width: 100%;
						height: vh(44);
					}
				}

				.el-table__body {
					width: calc(100% - 2px);
					border-collapse: separate;
					border-spacing: 0 4px;
					.el-table__row {
						width: 100%;
						height: 40px;
						border: 1px solid $table-row-border-color;
					}
					.el-table__cell {
						padding: 1px 0;
					}
				}

				.bt {
					border: none;
					@include set-text($table-bt-text-color, 14, 500, 21);
				}
				.jurisdiction {
					color: $table-bt-text-color1;
				}
				.edit {
					color: $table-bt-text-color;
				}

				.stop,
				.delete,
				.refuse {
					color: $table-bt-text-color2;
				}
				.start,
				.pass {
					color: $table-bt-text-color1;
				}
			}
		}
		.st-pagination {
			width: 100%;
			height: vh(70);
			background-color: $pagination-bg-color;
			@include flex-layout(row, space-between, center);

			:deep(.el-pagination) {
				li,
				.btn-prev,
				.btn-next {
					border: $pagination-border;
					border-radius: $pagination-border-radius;
					&:hover {
						color: $pagination-active-color;
						border: $pagination-border-hover;
						background-color: transparent;
					}
				}
				.btn-next {
					margin-right: vw(8);
				}
				.el-pager .is-active {
					color: $pagination-active-color;
					border: $pagination-border-hover;
					background-color: transparent;
				}
			}
			:deep(.el-button) {
				border-radius: 0;
				margin-left: vw(16);
				span {
					padding: vh(0) vh(12);
					font-size: 14px;
				}
			}
			.bt {
				height: 32px;
				min-width: 46px;
				min-height: 28px;
			}
			.select-format {
				width: 140px;
				height: 30px;
				margin-left: vw(16);
			}
			.exp {
				background: $bt-expet-bg-color;
			}
		}
	}
</style>
