<script setup>
	import { reactive } from 'vue'

	const dialog = reactive({
		show: false,
		name: null
	})

	const open = (data) => {
		dialog.show = true
		dialog.name = data
	}

	const close = () => {
		dialog.show = false
	}

	defineExpose({
		open
	})
</script>

<template>
	<el-dialog custom-class="section-echarts-tip" v-model="dialog.show" width="20%" :title="dialog.name" :before-close="close">
		<template #default>
			<div class="tip-box">
				<div class="num">部署设备：{{}}</div>
				<div class="dayYu">今日预警次数{{}}</div>
				<div class="weekYu">近七天预警次数：{{}}</div>
			</div>
		</template>
	</el-dialog>
</template>

<style lang="scss" scoped>
	:deep(.section-echarts-tip) {
		width: 25%;
		height: 20%;
	}
</style>
