<script setup>
	const props = defineProps({
		icon: {
			type: Boolean,
			default: true
		},
		title: {
			type: String,
			default: '标题'
		}
	})
</script>

<template>
	<div class="section-title-bar">
		<div class="icon" v-if="props.icon"></div>
		<div class="text">{{ props.title }}</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-title-bar {
		width: 100%;
		height: 100%;
		@include flex-layout(row, flex-start, center);
		.icon {
			width: 10px;
			height: 20px;
			background: #0fcdef;
			margin: 0px 8px 0 16px;
		}
		.text {
			@include set-text(var(--el-title-text-color), 16, 400);
		}
	}
</style>
