<script setup>
	import { onMounted, reactive, watch } from 'vue'
	import { pageResize } from '@utils/rem'
	import { flexible } from '@utils/flexible'
	import Header from '@views/common/Header.vue'
	import Menu from '@views/common/Menu.vue'
	import route from '@/router'
	import { useStore } from 'vuex'
	const store = useStore()

	// pageResize()
	// flexible(window, document)

	const state = reactive({
		muensStyle: {},
		menusBt: true,
		left: '', //菜单靠近边缘位置
		showMenuBt: false, //菜单折叠按钮
		timer: null
	})

	const setMenusStyle = () => {
		const muensStyle = {
			main_aside: '260px',
			aside_box: '240px',
			main_content: '1580px',
			flag: true
		}
		store.state.style.menusSytle ? (state.muensStyle = store.state.style.menusSytle) : (state.muensStyle = muensStyle)
		store
			.dispatch('style/setMenusInfo', state)
			.then(() => {})
			.catch((res) => {})
	}

	const menuSwitch = (flag) => {
		if (store.state.style.menusSytle) {
			if (flag) {
				const data = {
					muensStyle: {
						main_aside: '0px',
						aside_box: '0px',
						main_content: '1840px',
						flag: false
					}
				}
				store.dispatch('style/setMenusInfo', data)
				state.menusBt = false
			} else {
				const data = {
					muensStyle: {
						main_aside: '260px',
						aside_box: '240px',
						main_content: '1580px',
						flag: true
					}
				}
				store.dispatch('style/setMenusInfo', data)
				state.menusBt = true
			}
		}
	}

	route.beforeEach((to, from, next) => {
		console.log(to.path)
		if (to.path == '/home' || to.path == '/login' || to.path == '/') {
			state.showMenuBt = false
		} else {
			state.showMenuBt = true
		}
		next()
	})

	onMounted(() => {
		setMenusStyle()
		if (store.state.style.menusSytle.flag) {
			state.left = '240px'
			// state.menusBt = true
		} else {
			//'-40px'
			state.left = '-40px'
			// state.menusBt = false
		}
	})

	watch(
		() => store.state.style.menusSytle,
		(newValue, oldValue) => {
			state.muensStyle = newValue
			if (store.state.style.menusSytle.flag) {
				state.left = '240px'
			} else {
				state.left = '-40px'
			}
		}
	)
</script>

<template>
	<el-container class="st-container">
		<el-header class="st-header">
			<Header />
		</el-header>
		<el-main class="st-main">
			<div class="main-box">
				<el-container class="main-container">
					<el-aside class="main-aside">
						<div class="aside-box">
							<Menu />
						</div>
					</el-aside>
					<el-main class="main-content">
						<div class="menu-bt" v-show="state.showMenuBt">
							<div class="close" v-show="state.menusBt" @click="menuSwitch(true)">
								<el-icon><CaretLeft /></el-icon>
							</div>
							<div class="open" v-show="!state.menusBt" @click="menuSwitch(false)">
								<el-icon><CaretRight /></el-icon>
							</div>
						</div>
						<router-view></router-view>
					</el-main>
				</el-container>
			</div>
		</el-main>
	</el-container>
</template>

<style lang="scss" scoped>
	.st-container {
		width: 100%;
		height: 100%;
		background-image: $app-bg;
		background-attachment: fixed;
		background-repeat: no-repeat, repeat-x;
		background-blend-mode: lighten;
		background-clip: content-box;
		background-position: center;
		background-origin: content-box;
		background-size: cover;
		.st-header {
			width: vw(1920);
			min-width: 670px;
			height: vh(140);
		}
		.st-main {
			width: vw(1920);
			height: calc(100% - vh(140));
			background: $main-bg-color;
			@include flex-layout(row, center, flex-start);
			.main-box {
				width: vw(1840);
				height: vh(910);
				.main-container {
					width: 100%;
					height: 100%;
					position: relative;
					.main-aside {
						width: v-bind('state.muensStyle.main_aside');
						height: 100%;
						.aside-box {
							width: v-bind('state.muensStyle.aside_box');
							height: 100%;
						}
					}
					.main-content {
						width: v-bind('state.muensStyle.main_content');
						height: 100%;
					}
					.menu-bt {
						width: 12px;
						height: vh(80);
						position: absolute;
						left: v-bind('state.left');
						top: calc((100% - vh(50)) / 2);
						-webkit-clip-path: polygon(0% 0%, 100% 13%, 100% 82%, 0% 100%);
						clip-path: polygon(0% 0%, 100% 13%, 100% 82%, 0% 100%);
						background: $menu-switch-bt-bg-color;
						cursor: pointer;
						z-index: 6666;
						.close,
						.open {
							width: 100%;
							height: 100%;
							@include flex-layout(row, center, center);
						}
						.el-icon {
							color: $menu-switch-bt-icon-color;
						}
					}
				}
			}
		}
	}
</style>
