<script setup>
	import { ref, reactive } from 'vue'
	import { useRouter } from 'vue-router'
	import http from '@api'
	import utils from '@utils'
	import store from '@/store'

	const ruleFormRef = ref(null)
	const ruleForm = reactive({
		pass: '',
		name: ''
	})
	const rules = reactive({
		pass: [{ trigger: 'blur' }],
		name: [{ trigger: 'blur' }]
	})
	let loading
	let router = useRouter()
	//登录
	const submitForm = (formEl) => {
		loading = ElLoading.service({
			lock: true,
			text: '登录中......',
			background: 'rgba(17,28,189,0.25)'
		})
		if (!formEl) return
		formEl.validate((valid) => {
			if (valid) {
				logon(ruleForm)
			} else {
				console.log('error submit!')
				return false
			}
		})
	}
	//注册
	const resetForm = (formEl) => {
		if (!formEl) return
		formEl.resetFields()
	}
	//登录
	const logon = async (data) => {
		const params = {
			name: data.name,
			pass: data.pass
		}
		const res = await http.logintest(params)
		if (res && res.success) {
			const data = res.data
			const { id, name, sessionId } = data
			utils.localSet('token', sessionId)
			utils.localSet('userid', id)
			utils.localSet('username', name)
			store
				.dispatch('user/setUserInfo', data)
				.then(() => {
					loading.close()
					router.push('/home')
				})
				.catch((res) => {
					loading.close()
				})
		} else {
			utils.message('error', res.info, 2000)
		}
	}
</script>

<template>
	<div class="section-login">
		<div class="box">
			<div class="box-main">
				<el-form ref="ruleFormRef" :model="ruleForm" status-icon :rules="rules" label-width="60px" class="login-box">
					<el-form-item class="item" label="用户名" prop="name">
						<el-input v-model="ruleForm.name" autocomplete="off" />
					</el-form-item>
					<el-form-item class="item" label="密码" prop="pass">
						<el-input v-model="ruleForm.pass" type="password" autocomplete="off" />
					</el-form-item>
					<el-form-item class="item center">
						<el-button @click="submitForm(ruleFormRef)">登录</el-button>
						<el-button @click="resetForm(ruleFormRef)">注册</el-button>
					</el-form-item>
				</el-form>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.section-login {
		width: 100%;
		height: 100%;
		.box {
			@include flex-layout(row, center, center);
		}
		.box-main {
			width: 300px;
			height: 400px;
			.login-box {
				width: 100%;
				height: 100%;
				@include flex-layout(column, center, center);
				.item {
					width: 100%;
					height: 32px;
					@include flex-layout(row, center, center);
				}
				.center {
					height: 60px;
					:deep(.el-form-item__content) {
						@include flex-layout(row, center, center);
					}
				}
			}
		}
	}
</style>
