<script>
	import { ref, watch, reactive, toRefs } from 'vue'
	import { useRoute, useRouter } from 'vue-router'
	import CookieUtil from 'cookie-tool-plug'
	import { useStore } from 'vuex'
	export default {
		setup(props, context) {
			const store = useStore()
			const router = useRouter()
			const state = reactive({
				formInline: {
					account: 'admin',
					password: 'admin'
				}
			})
			const onSubmit = () => {
				const loading = ElLoading.service({
					lock: true,
					text: '初始化配置......',
					background: 'rgba(255,255,255, 1)'
				})
				setTimeout(() => {
					const menus = require('@/mock/menu.json')
					store.commit('global/SET_MENUS', menus)
					CookieUtil.set('token', 'token')
					router.push('/')
					loading.close()
				}, 2000)
			}
			return {
				...toRefs(state),
				onSubmit
			}
		}
	}
</script>
<template>
	<el-form :inline="true" :model="formInline" style="text-align: center; padding-top: 200px">
		<el-form-item label="账户名："><el-input v-model="formInline.account" placeholder="账户名"></el-input></el-form-item>
		<el-form-item label="密码："><el-input v-model="formInline.password" type="password" show-password placeholder="密码"></el-input></el-form-item>
		<el-form-item><el-button type="primary" @click="onSubmit">登陆</el-button></el-form-item>
	</el-form>
</template>
